.hero {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	justify-content: space-between;
	&.invert {
		@include layout-variant($invert-variant-color, $invert-variant-background);
	}
	&.primary {
		@include layout-variant($primary-variant-color, $primary-variant-background);
	}
	&.secondary {
		@include layout-variant($secondary-variant-color, $secondary-variant-background);
	}
	&.positive {
		@include layout-variant($positive-variant-color, $positive-variant-background);
	}
	&.negative {
		@include layout-variant($negative-variant-color, $negative-variant-background);
	}
	&.full-y {
		min-height: 100vh;
		.body {
			display: flex;
			align-items: center;
			& > .container {
				flex-grow: 1;
				flex-shrink: 1;
			}
		}
	}
	.head,
	.tail {
		flex-grow: 0;
		flex-shrink: 0;
	}
	.body {
		flex-grow: 1;
		flex-shrink: 0;
		padding: $layout-spacing-y 0;
	}
}
