.hero {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	justify-content: space-between;

	@include layout-variant($layout-variant-color, $layout-variant-background);
	@each $variant, $value in $variants {
		&.#{$variant} {
			@include layout-variant(nth($value, 3), nth($value, 1));
		}
	}
	&.full-y {
		min-height: 100vh;
		.body {
			display: flex;
			align-items: center;
			& > .container {
				flex-grow: 1;
				flex-shrink: 1;
			}
		}
	}
	.head,
	.tail {
		flex-grow: 0;
		flex-shrink: 0;
	}
	.body {
		flex-grow: 1;
		flex-shrink: 0;
		padding: $layout-spacing-y $layout-spacing-x;
	}
}
