.section {
	margin: 0;
	padding: $layout-spacing-y $layout-spacing-x;
	&.lg {
		padding-top: $layout-spacing-lg;
		padding-bottom: $layout-spacing-lg;
	}
	@each $variant, $value in $variants {
		&.#{$variant} {
			@include layout-variant(nth($value, 3), nth($value, 1));
		}
	}
}
