.section {
    padding: $layout-padding*2 $layout-padding*1.5;
    &.lg {
        padding-top: $layout-padding-lg;
        padding-bottom: $layout-padding-lg;        
    }    
    &.primary {
        @include layout-variant($primary-variant-color, $primary-variant-background);
    }
    &.secondary {
        @include layout-variant($secondary-variant-color, $secondary-variant-background);
    }
    &.positive {
        @include layout-variant($positive-variant-color, $positive-variant-background);
    }
    &.negative {
        @include layout-variant($negative-variant-color, $negative-variant-background);
    }   
}