.dth-input {
    position: relative;
    display: inline-flex;
    &.primary {
        @include input-variant($input-primary-color, $input-primary-background, $input-primary-border);
    }
    &.secondary {
        @include input-variant($input-secondary-color, $input-secondary-background, $input-secondary-border);
    }
    &.positive {
        @include input-variant($input-positive-color, $input-positive-background, $input-positive-border);
    }
    &.negative {
        @include input-variant($input-negative-color, $input-negative-background, $input-negative-border);
    }
    &.xs {
      font-size: $font-size-xs;
    }
    &.sm {
      font-size: $font-size-sm;
    }
    &.lg {
      font-size: $font-size-lg;
    }
    &.xl {
      font-size: $font-size-xl;
    }    
    input {
        position: relative;
        padding: $input-padding-y $input-padding-x;
        z-index: 2;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;
        border: $input-border-width solid $input-border-color;
        @include border-radius($input-border-radius);
        @include transition($input-transition);
        &::placeholder {
            color: $input-color-placeholder;
        }
        @include focus-active {
            z-index: 3;
            box-shadow: none;
            border-color: $input-border-focus;
            &::placeholder {
                color: $input-color-focus;
            }
        }
    }
}

.dth-input-addon,
.dth-input-btn,
.dth-input input {
    display: flex;
    align-items: center;
    &:not(:first-child):not(:last-child) {
        @include border-radius(0);
    }
}

.dth-input-addon,
.dth-input-btn {
    white-space: nowrap;
    vertical-align: middle;
}

// .dth-input-lg > input,
// .dth-input-lg > .dth-input-addon,
// .dth-input-lg > .dth-input-btn > .btn {
//   @extend input-lg;
// }
// .dth-input-sm > input,
// .dth-input-sm > .dth-input-addon,
// .dth-input-sm > .dth-input-btn > .btn {
//   @extend input-sm;
// }
.dth-input-addon {
    padding: $input-padding-y $input-padding-x;
    margin-bottom: 0;
    line-height: $input-line-height;
    color: $input-addon-color;
    text-align: center;
    background-color: $input-group-addon-bg;
    border: $input-border-width solid $input-group-addon-border-color;
    &.primary {
        @include input-addon-variant($input-primary-color, $input-primary-background, $input-primary-border);
    }
    &.secondary {
        @include input-addon-variant($input-secondary-color, $input-secondary-background, $input-secondary-border);
    }
    &.positive {
        @include input-addon-variant($input-positive-color, $input-positive-background, $input-positive-border);
    }
    &.negative {
        @include input-addon-variant($input-negative-color, $input-negative-background, $input-negative-border);
    }
    @include border-radius($input-border-radius); 
    input[type="radio"],
    input[type="checkbox"] {
        margin-top: 0;
    }
}

.dth-input input:not(:last-child),
.dth-input-addon:not(:last-child),
.dth-input-btn:not(:last-child)>.dth-btn,
.dth-input-btn:not(:last-child)>.dth-btn-group>.dth-btn,
.dth-input-btn:not(:last-child)>.dropdown-toggle,
.dth-input-btn:not(:first-child)>.dth-btn:not(:last-child):not(.dropdown-toggle),
.dth-input-btn:not(:first-child)>.dth-btn-group:not(:last-child)>.dth-btn {
    @include border-right-radius(0);
    border-right: 0;
}

.dth-input-addon:not(:last-child) {
    border-right: 0;
}

.dth-input input:not(:first-child),
.dth-input-addon:not(:first-child),
.dth-input-btn:not(:first-child)>.dth-btn,
.dth-input-btn:not(:first-child)>.dth-btn-group>.dth-btn,
.dth-input-btn:not(:first-child)>.dropdown-toggle,
.dth-input-btn:not(:last-child)>.dth-btn:not(:first-child),
.dth-input-btn:not(:last-child)>.dth-btn-group:not(:first-child)>.dth-btn {
    @include border-left-radius(0);
    border-left: 0;
}

input+.dth-input-addon:not(:first-child) {
    border-left: 0;
}
