.bb-dropdown {
	&.active,
	&.hover:hover {
		.dropdown-menu {
			display: block;
			opacity: 1;
			transform: translateY(0);
			pointer-events: auto;
		}
	}
	.dropdown-menu {
		position: absolute;
		display: block;

		&.active,
		&.hover:hover,
		&.hover:focus {
			.dropdown-menu {
				@include respond-to('lg') {
					display: block;
					opacity: 1;
					transform: translateY(0);
					pointer-events: auto;
				}
			}
		}

		.dropdown-item {
			display: block;
			flex-grow: 0;
			flex-shrink: 0;
			justify-content: flex-start;
			padding: $dropdown-item-spacing-y $dropdown-item-spacing-x;

			@include transition($dropdown-transition);
			@include hover-focus {
				background: $dropdown-variant-background-hover;
				color: $dropdown-variant-color-hover;
				text-decoration: none;
			}
			@include respond-to('lg') {
				padding: $dropdown-item-spacing-y $dropdown-item-spacing-x;
				white-space: nowrap;
			}
			&.active {
				background: $dropdown-variant-background-active;
				color: $dropdown-variant-color-active;
			}
		}
	}
	.bb-divider {
		margin: $dropdown-divider-spacing-y $dropdown-divider-spacing-x;
	}
}
