@mixin box-variant($color, $background, $border) {
	background: $background;
	color: $color;

	@include border($border-width, $border-style, $border);
	h1,
	h2,
	h3,
	h4,
	h5,
	p {
		&:not(.text-primary):not(.text-secondary):not(.text-positive):not(.text-negative):not(.text-invert):not(.text-white):not(.text-light-grey):not(.text-lighter-grey):not(.header-title) {
			color: $color;
		}
	}
	a:not(.bb-btn):not(.link):not(.item) {
		color: $color;
	}
}

@mixin box-outline-variant($color, $border) {
	background: transparent;
	color: $color;

	@include border($border-width, $border-style, $border);
	h1,
	h2,
	h3,
	h4,
	h5,
	p {
		&:not(.text-primary):not(.text-secondary):not(.text-positive):not(.text-negative):not(.text-invert):not(.text-white):not(.text-light-grey):not(.text-lighter-grey):not(.header-title) {
			color: $color;
		}
	}
	a:not(.bb-btn):not(.link):not(.item) {
		color: $color;
	}
}
