@mixin button-font-size($font-size) {
  font-size: $font-size;
  padding: $button-spacing-y + ($font-size - 1rem) $button-spacing-x +
    ($font-size - 1rem);
}

@mixin button-variant($color, $background, $border, $hover, $active) {
  color: $color;
  background: $background;
  @include border-color($border);
  @include hover-focus {
    background: $hover;
    box-shadow: $button-box-shadow-hover;
    @include border-color($hover);
  }
  &:active,
  &.active {
    background: $active;
    box-shadow: $button-box-shadow-hover;
    @include border-color($active);
  }
}

@mixin button-outline-variant($color, $border) {
  $hover: darken($border, 20%);
  color: $color;
  background: transparent;
  background-image: none;
  @include border-color($border);
  @include hover-focus {
    color: $hover;
    @include border-color($hover);
  }
  &:active,
  &.active {
    color: $hover;
    @include border-color($hover);
  }
}

@mixin button-inverted-variant($color, $background, $border) {
  color: $color;
  background: $background;
  @include border-color($border);
  @include hover-focus {
    background: $color;
    color: $background;
  }
  &:active,
  &.active {
    background: $background;
    color: $color;
  }
}

@mixin button-loading-variant($color, $background) {
  background: $background;
  @include border-color($background);
  &:after {
    @include border-color($color transparent transparent);
  }
  &.outline {
    color: $color;
    background: transparent;
    @include border-color(darken($background, 20%));
    &:after {
      @include border-color($background transparent transparent);
    }
  }
}

@mixin link-variant($color, $hover) {
  color: $color;
  background: transparent;
  @include hover-focus-active {
    color: $hover;
    background: transparent;
    text-decoration: underline;
  }
}

@mixin close-variant($background, $color) {
  background: darken($background, 10%);
  &:before,
  &:after {
    background: $color;
  }
  @include hover-focus-active {
    background: darken($background, 20%);
  }
}

@mixin close-font-size($width, $height) {
  width: $width;
  height: $height;
}
