@mixin field-variant($color, $background, $border, $hover, $active) {
	input,
	select,
	textarea {
		border-color: $background;

		@include hover-focus {
			@include border-color($hover);
		}
		@include focus-active {
			@include border-color($active);
			& + .field-addon {
				background: $background;
				color: $color;

				@include border-color($border);
			}
		}
	}
	.bb-select {
		@include hover {
			&:after {
				@include border-color($background);
			}
		}
	}
}

@mixin field-validation-variant($color, $border, $placeholder) {
	input,
	select,
	textarea,
	.text {
		color: $color;

		@include border-color($border);
		&::placeholder {
			color: $placeholder;
		}
	}
}

@mixin field-font-size($font-size) {
	input,
	select,
	textarea,
	.field-addon {
		padding: $field-spacing-y + ($font-size - 1rem) $field-spacing-x +
		($font-size - 1rem);
		font-size: $font-size;
	}
	label {
		padding-bottom: $field-spacing-y + ($font-size - 1rem);
		font-size: $font-size;
	}
}

@mixin field-addon-variant($color, $background, $border) {
	background: $background;
	color: $color;

	@include border-color($border);
}
