@mixin footer-variant($color, $background) {
	background: $background;
	color: $color;
	h1,
	h2,
	h3,
	h4,
	h5,
	p {
		&:not(.text-primary):not(.text-secondary):not(.text-positive):not(.text-negative):not(.text-invert):not(.text-white):not(.text-light-grey):not(.text-lighter-grey):not(.header-title) {
			color: $color;
		}
	}
}
