@mixin tab-font-size($font-size) {
	font-size: $font-size;
}

@mixin tab-variant($color) {
	$light-color: rgba($color, .2);
	ul {
		li {
			&.active {
				a {
					color: $color;

					@include border-bottom($tab-border-width, $tab-border-style, $color);
					@include hover {
						@include border-bottom-color($color);
					}
				}
			}
			.item {
				@include border-bottom-color($light-color);
				@include hover {
					color: $color;

					@include border-bottom-color($color);
				}
			}
		}
	}
}

@mixin tab-naked-variant($color) {
	$light-color: rgba($color, 10%);
	ul {
		@include border-bottom-color(transparent);
		li {
			&.active {
				a {
					@include border-bottom-color($color);
				}
			}
			.item {
				@include border-bottom-color(transparent);
				@include hover {
					@include border-bottom-color($light-color);
				}
			}
		}
	}
}
