@mixin table-variant($color, $background, $border) {
	background: lighten($background, 15%);
	color: $color;
	tr {
		@include border-color($border);
	}
}

@mixin table-striped-variant($color) {
	tr:nth-child(even) {
		background: $white;
		color: $color;
	}
}

@mixin table-hover-variant($color) {
	td {
		@include hover {
			background: $color;
		}
	}
}

@mixin table-cell-hover-variant($color) {
	& {
		@include hover {
			background: $color;
		}
	}
}

@mixin table-selected-variant($color) {
	background: $color;
}
