@mixin burger($color, $width, $height) {
	position: relative;
	display: flex;
	justify-content: center;
	width: $width;
	height: $height;
	cursor: pointer;
	span {
		position: absolute;
		top: 50%;
		right: 0;
		left: 0;
		display: block;
		margin-right: auto;
		margin-left: auto;
		width: 1.5rem;
		height: 2px;
		background: $color;
		transition: none 2s ease-in-out;
		transition-property: background, left, opacity, transform;
		&:nth-child(1) {
			margin-top: -.45rem;
		}
		&:nth-child(2) {
			margin-top: 0;
		}
		&:nth-child(3) {
			margin-top: .45rem;
		}
	}
}

@mixin plus($color) {
	position: relative;
	display: flex;
	align-items: center;
	width: $icon-size;
	height: $icon-size;
	cursor: pointer;
	&:before,
	&:after {
		width: 100%;
		height: 0;
		content: '';

		@include border($icon-border-width, $icon-border-style, $color);
	}
	&:after {
		position: absolute;
		transform: rotate(90deg);
	}
}

@mixin minus($color) {
	position: relative;
	display: flex;
	align-items: center;
	width: $icon-size;
	height: $icon-size;
	cursor: pointer;
	&:before,
	&:after {
		width: 100%;
		height: 0;
		content: '';
		transform: rotate(0);

		@include border($icon-border-width, $icon-border-style, $color);
	}
}

@mixin chevron-up($color, $width, $height) {
	z-index: 5;
	display: block;
	margin-top: $icon-size;
	width: $width;
	height: $height;
	border-top: 0;
	border-right: 0;
	content: ' ';
	transform: rotate(135deg);
	pointer-events: none;
}

@mixin chevron-down($color, $width, $height) {
	z-index: 5;
	display: block;
	width: $width;
	height: $height;
	border-top: 0;
	border-right: 0;
	content: ' ';
	transform: rotate(-45deg);
	pointer-events: none;

	@include border-bottom($border-width, $border-style, $color);
	@include border-left($border-width, $border-style, $color);
}

@mixin chevron-left($color, $width, $height) {
	z-index: 5;
	display: block;
	width: $width;
	height: $height;
	border-top: 0;
	border-right: 0;
	content: ' ';
	transform: rotate(45deg);
	pointer-events: none;

	@include border-left($border-width, $border-style, $color);
}

@mixin chevron-right($color, $width, $height) {
	z-index: 5;
	display: block;
	width: $width;
	height: $height;
	border-top: 0;
	border-right: 0;
	content: ' ';
	transform: rotate(225deg);
	pointer-events: none;

	@include border-right($border-width, $border-style, $color);
}

@mixin tick($color, $width, $height) {
	z-index: 1;
	display: block;
	width: $width;
	height: $height / 2;
	border-top: 0;
	border-right: 0;
	content: ' ';
	transform: rotate(-45deg);
	pointer-events: none;

	@include border-bottom($field-checkbox-border-width, $border-style, $color);
	@include border-left($field-checkbox-border-width, $border-style, $color);
}
