@each $property,
$property-abbrev in (margin: m, padding: p) {
    @each $size,
    $coordinates in $spacers {
        $coordinate-x: map-get($coordinates, x);
        $coordinate-y: map-get($coordinates, y);
        .#{$property-abbrev}-#{$size} {
            #{$property}: $coordinate-y $coordinate-x;
        }
        .#{$property-abbrev}-t-#{$size} {
            #{$property}-top: $coordinate-y;
        }
        .#{$property-abbrev}-r-#{$size} {
            #{$property}-right: $coordinate-x;
        }
        .#{$property-abbrev}-b-#{$size} {
            #{$property}-bottom: $coordinate-y;
        }
        .#{$property-abbrev}-l-#{$size} {
            #{$property}-left: $coordinate-x;
        }
        .#{$property-abbrev}-x-#{$size} {
            #{$property}-right: $coordinate-x;
            #{$property}-left: $coordinate-x;
        }
        .#{$property-abbrev}-y-#{$size} {
            #{$property}-top: $coordinate-y;
            #{$property}-bottom: $coordinate-y;
        }
    }
}

.m-x-auto {
    margin-right: auto;
    margin-left: auto;
}

.m-y-auto {
    margin-top: auto;
    margin-bottom: auto;
}