.text-justify {
	text-align: justify;
}

.text-nowrap {
	white-space: nowrap;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-lowercase {
	text-transform: lowercase;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-capitalize {
	text-transform: capitalize;
}

.text-xs {
	@include text-font-size($font-size-xs);
}

.text-sm {
	@include text-font-size($font-size-sm);
}

.text-md {
	@include text-font-size($body-font-size);
}

.text-lg {
	@include text-font-size($font-size-lg);
}

.text-xl {
	@include text-font-size($font-size-xl);
}

.font-weight-normal {
	font-weight: $font-weight;
}

.font-weight-bold {
	font-weight: $font-weight-bold;
}

.font-style-italic {
	font-style: italic;
}

@include text-variant('.text-primary', $primary-color);
@include text-variant('.text-secondary', $secondary-color);
@include text-variant('.text-positive', $positive-color);
@include text-variant('.text-negative', $negative-color);
