.bb-alert {
	position: relative;
	padding: $alert-spacing-y $alert-spacing-x;

	@include border(
	$alert-border-width,
	$alert-border-style,
	$alert-variant-border
	);
	@include alert-variant(
	$alert-variant-color,
	$alert-variant-background,
	$alert-variant-border
	);
	@include border-radius($alert-border-radius);
	@each $variant, $value in $variants {
		&.#{$variant} {
			@include alert-variant(nth($value, 3), nth($value, 1), nth($value, 2));
		}
	}
	.close {
		position: absolute;
		top: $alert-spacing;
		right: $alert-spacing;
	}
}
