// Variables

// Colours

$background:                  #ffffff !default;
$primary-color:               #24C2AB !default;
$primary-pair:                #ffffff !default;
$secondary-color:             #FFB52F !default;
$secondary-pair:              #ffffff !default;

$positive-color:              #27E100 !default;
$positive-pair:               #ffffff !default;
$negative-color:              #FA2E41 !default;
$negative-pair:               #ffffff !default;

$white:                       #ffffff !default;
$grey:                        #4a4a4a !default;

$light-grey:                  #7d7d7d!default;
$lighter-grey:                #f4f4f4 !default;

// Breakpoints

$breakpoints: (
  'sm' : 20rem, // 320px
  'md' : 40rem, // 640px
  'lg' : 57.5rem, // 920px
  );

// Font sizes 

$xs-font:                       .7rem;
$sm-font:                       .85rem;
$lg-font:                       1.15rem;
$xl-font:                       1.30rem;


/* Typography */

// Body font
$font-size:                     1rem !default;
$body-font-size:                1rem !default;
$font-style:                    normal !default;
$font-variant:                  normal !default;
$font-weight:                   normal !default;
$font-color:                  #4a4a4a !default;
$font-family:                   -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif !default;
$line-height:                   1.6 !default;

// Headings
$heading-font-color:          #4a4a4a !default;
$heading-font-weight:           600 !default;
$heading-font-family:           -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif !default;
$heading-line-height:           1.2 !default;

/* Padding */

$padding:                       1rem !default;
$margin:                       1.5rem !default;

/* Borders */

$border-width:                  .125rem !default;
$border-style:                  solid !default;
$border-radius:                 .2rem !default;
$no-border-radius:              0rem !default;

// Links

$link-color:                    $primary-color !default;
$link-decoration:               none !default;
$link-hover-color:              darken($link-color, 10%) !default;
$link-hover-decoration:         underline !default;

//* Buttons *//

$btn:                           ('.dth-btn, a.dth-btn, button, [type=submit], [type=reset], [type=button]') !default;

$btn-background:                $light-grey !default;
$btn-background-hover:          darken($btn-background, 10%) !default;
$btn-color:                     $white !default;
$btn-font-weight:               500 !default;
$btn-font-size:                 1rem !default;
$btn-border-width:              $border-width !default;
$btn-border-style:              $border-style !default;
$btn-border-color:              $btn-background !default;
$btn-border-radius:             $border-radius !default;
$btn-text-transform:            none !default;
$btn-padding:                   .5rem !default;
$btn-transition:                .25s !default;

// Primary buttons
$btn-primary-background:        $primary-color !default;
$btn-primary-color:             $primary-pair !default;
$btn-primary-border:            $btn-primary-background !default;

// Secondary buttons
$btn-secondary-background:      $secondary-color !default;
$btn-secondary-color:           $secondary-pair !default;
$btn-secondary-border:          $btn-secondary-background !default;

// Positive buttons
$btn-positive-background:       $positive-color !default;
$btn-positive-color:            $positive-pair !default;
$btn-positive-border:           $btn-positive-background !default;

// Negative buttons
$btn-negative-background:       $negative-color !default;
$btn-negative-color:            $negative-pair !default;
$btn-negative-border:           $btn-negative-background !default;

// Loading buttons 
$btn-loader-size:               .75rem !default;
$btn-loader-offset:             -($btn-loader-size / 2) !default;
$btn-loader-margin:             $btn-loader-offset 0 0 $btn-loader-offset !default;
$btn-loader-border:             .1rem !default;
$btn-loader-circle:             50% !default;

// Breadcrumbs //

$breadcrumb-padding-y:          .75rem !default;
$breadcrumb-padding-x:          1rem !default;
$breadcrumb-item-padding:       .5rem !default;

$breadcrumb-bg:                 transparent !default;
$breadcrumb-divider-color:      $grey !default;
$breadcrumb-active-color:       $grey !default;
$breadcrumb-divider:            "/" !default;

// Divider //

$divider-margin:                $margin 0 !default;
$divider-color:                 $lighter-grey !default;
$divider-border-width:          0.0625rem !default;
$divider-border-style:          $border-style !default;
$divider-horizontal-margin:     1rem;

$divider-content-border-width:  $divider-border-width*1.5 !default;
$divider-font-weight:           500 !default;
$divider-content-color:         $light-grey !default;

$divider-icon-margin:           0rem !default;
$divider-icon-font:             1rem !default;

$divider-hidden-color:          transparent !default;
