.bb-accordion {
	.header {
		display: flex;
		align-items: center;
		padding: $accordion-heading-spacing $accordion-heading-spacing $accordion-heading-spacing 0;
		background-color: $accordion-heading-background;
		font-weight: $accordion-heading-font-weight;
		font-size: $accordion-heading-font-size;
		font-family: $accordion-heading-font-family;
		cursor: pointer;
		&:not(:first-child) {
			@include border-top($accordion-heading-border-width, $accordion-heading-border-style, $accordion-heading-border-color);
		}
		span {
			margin: 0 $accordion-heading-spacing / 2 0 0;
		}
		span,
		:before,
		:after {
			transition: $accordion-toggle-transition;
		}
		.toggle {
			min-width: 1rem;

			@include plus($light-grey);
		}
		.chevron {
			@include chevron-down($light-grey);
		}
	}
	.content {
		display: none;
		padding-bottom: $accordion-content-spacing;
		.header {
			padding: $accordion-heading-spacing / 2 $accordion-heading-spacing;
			&:first-child {
				@include border-top($accordion-heading-border-width, $accordion-heading-border-style, $accordion-heading-border-color);
			}
		}
		.content {
			padding: 0 0 $accordion-content-spacing $accordion-content-spacing;
		}
	}
	.active {
		.chevron {
			@include chevron-up($light-grey);
		}
		.toggle {
			@include minus($light-grey);
		}
	}
}
