.bb-accordion {
	@include border-bottom(
	$accordion-border-width,
	$accordion-border-style,
	$accordion-variant-border
	);
	@each $variant, $value in $variants {
		&.#{$variant} {
			@include accordion-variant(nth($value, 1));
		}
	}
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: $accordion-heading-spacing-y $accordion-heading-spacing-x;
		background: $accordion-variant-background;
		font-weight: $accordion-heading-font-weight;
		font-size: $accordion-heading-font-size;
		font-family: $accordion-heading-font-family;
		cursor: pointer;

		@include border-top(
		$accordion-border-width,
		$accordion-border-style,
		$accordion-variant-border
		);
		span {
			margin: $accordion-toggle-spacing;
		}
		span,
		:before,
		:after {
			transition: $accordion-toggle-transition;
		}
		.toggle {
			min-width: 1rem;

			@include plus($accordion-variant-toggle);
		}
		.chevron {
			margin-right: .25rem;

			@include chevron-down($accordion-variant-toggle);
		}
	}
	.content {
		display: none;
		margin-top: 0;
		padding-bottom: $accordion-content-spacing-y;
		&.active {
			display: block;
		}
		.header {
			justify-content: flex-start;
			padding: $accordion-heading-spacing-y / 2 $accordion-heading-spacing-x;
			font-weight: $accordion-subheading-font-weight;
			font-size: $accordion-subheading-font-size;
			font-family: $accordion-subheading-font-family;
			&:first-child {
				@include border-top(
				$accordion-border-width,
				$accordion-border-style,
				$accordion-variant-border
				);
			}
		}
		.content {
			padding: 0 0 $accordion-content-spacing-y 0;
		}
	}
	.header.active {
		.chevron {
			@include chevron-up($accordion-variant-active);
		}
		.toggle {
			@include minus($accordion-variant-active);
		}
	}
}
