.bb-input {
	position: relative;
	display: inline-flex;
	&.invert {
		@include input-variant($invert-variant-color, $invert-variant-background, $invert-variant-border);
	}
	&.primary {
		@include input-variant($primary-variant-color, $primary-variant-background, $primary-variant-border);
	}
	&.secondary {
		@include input-variant($secondary-variant-color, $secondary-variant-background, $secondary-variant-border);
	}
	&.positive {
		@include input-variant($positive-variant-color, $positive-variant-background, $positive-variant-border);
	}
	&.negative {
		@include input-variant($negative-variant-color, $negative-variant-background, $negative-variant-border);
	}
	&.xs {
		@include input-font-size($font-size-xs);
	}
	&.sm {
		@include input-font-size($font-size-sm);
	}
	&.lg {
		@include input-font-size($font-size-lg);
	}
	&.xl {
		@include input-font-size($font-size-xl);
	}
	input {
		position: relative;
		z-index: 2;
		flex: 1 1 auto;
		margin-bottom: 0;
		padding: $input-padding-y $input-padding-x;
		width: 1%;

		@include focus-active {
			z-index: 3;
			border-color: $input-border-color-focus;
			box-shadow: none;
			&::placeholder {
				color: $input-border-color-focus;
			}
		}
		@include transition($input-transition);
		@include border-radius($input-border-radius);
		@include border($input-border-width, $border-style, $input-border-color);
		&::placeholder {
			color: $input-color-placeholder;
		}
	}
}
