.bb-field {
	position: relative;
	display: inline-flex;
    height: 40px;
	&.invert {
		@include field-variant($invert-variant-color, $invert-variant-background, $invert-variant-border);
	}
	&.primary {
		@include field-variant($primary-variant-color, $primary-variant-background, $primary-variant-border);
	}
	&.secondary {
		@include field-variant($secondary-variant-color, $secondary-variant-background, $secondary-variant-border);
	}
	&.positive {
		@include field-variant($positive-variant-color, $positive-variant-background, $positive-variant-border);
	}
	&.negative {
		@include field-variant($negative-variant-color, $negative-variant-background, $negative-variant-border);
	}
	&.xs {
		@include field-font-size($font-size-xs);
	}
	&.sm {
		@include field-font-size($font-size-sm);
	}
	&.lg {
		@include field-font-size($font-size-lg);
	}
	&.xl {
		@include field-font-size($font-size-xl);
	}
	input,
	select {
		position: relative;
		z-index: 2;
		flex: 1 1 auto;
		margin-bottom: 0;
		padding: $field-padding-y $field-padding-x;
		background-color: $field-background-color;

		appearance: none;
        -webkit-appearance: none;	
		@include border($field-border-width, $border-style, $field-border-color);
		@include border-radius($field-border-radius);
		@include transition($field-transition);@include focus-active {
			z-index: 3;
			box-shadow: none;

			@include border-color($field-border-color-focus);
			&::placeholder {
				color: $field-border-color-focus;
			}
		}
		&::placeholder {
			color: $field-color-placeholder;
		}
	}
}
