html {
	font: $font-style $font-variant $font-weight #{$font-size}/#{$font-line-height} $font-family;
	font-size: $font-size;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: $white;
	color: $font-color;
	font-size: $body-font-size;
	p:not(:first-child) {
		padding-top: $body-spacing-y;
	}	
}

body,
p {
	margin: 0;
	padding: 0;
	line-height: $font-line-height;
}

main {
	flex: 1;
}

p,
ol,
ul,
dl,
table {
	margin: 0;
}

ul li ul {
	margin-bottom: 0;
}

ol li ol {
	margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5 {
	color: inherit;
	font-weight: $heading-font-weight;
	font-family: $heading-font-family;
	line-height: $heading-line-height;
	&:not(:first-child) {
		margin: 1.5rem 0;
	}
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
	margin-top: 2rem;
}

a {
	background-color: transparent;
	color: $link-color;
	text-decoration: $link-decoration;
	cursor: pointer;

	-webkit-text-decoration-skip: objects;
	&:hover {
		color: darken($link-color, 20%);
		text-decoration: underline;
	}
}
