.bb-pagination {
    @include pagination-variant($base-variant-color, $base-variant-background);
    margin: 0;
    display: inline-flex;
    vertical-align: middle;
    .item {
        @include pagination-size($pagination-font-size, 3rem);
        font-weight: $pagination-font-weight;
        @include border-top($pagination-border-width, $pagination-border-style, $base-variant-border);
        @include border-bottom($pagination-border-width, $pagination-border-style, $base-variant-border);
        @include border-left($pagination-border-width, $pagination-border-style, $base-variant-border);
        padding: $pagination-padding $pagination-padding+.5;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        @include transition($pagination-transition);
        &:first-child {
            @include border-left-radius($pagination-border-radius);
        }
        &:last-child {
            @include border-right-radius($pagination-border-radius);
            @include border-right($pagination-border-width, $pagination-border-style, $base-variant-border);
        }
    }
    .dot {
        padding: $dot-padding;
        @include border-radius($dot-border-radius);
        cursor: pointer;
        text-decoration: none;
        @include transition($pagination-transition);
        &:not(:first-child),
        &:not(:last-child) {
            margin: 0 $pagination-margin;
        }
    }
    &.no-border {
        .item {
            border: 0;
        }
    }
    &.invert {
        @include pagination-variant($invert-variant-color, $invert-variant-background);
    }
    &.primary {
        @include pagination-variant($primary-variant-color, $primary-variant-background);
    }
    &.secondary {
        @include pagination-variant($secondary-variant-color, $secondary-variant-background);
    }
    &.positive {
        @include pagination-variant($positive-variant-color, $positive-variant-background);
    }
    &.negative {
        @include pagination-variant($negative-variant-color, $negative-variant-background);
    }
    &.outline {
        @include outline-pagination-variant($base-variant-background);        
        &.invert {
            @include outline-pagination-variant($invert-variant-background);
        }
        &.primary {
            @include outline-pagination-variant($primary-variant-background);
        }
        &.secondary {
            @include outline-pagination-variant($secondary-variant-background);
        }
        &.positive {
            @include outline-pagination-variant($positive-variant-background);
        }
        &.negative {
            @include outline-pagination-variant($negative-variant-background);
        }
    }
    &.sm {
        .item {
            @include pagination-size($font-size-sm, 2rem);
        }
    }
    &.lg {
        .item {
            @include pagination-size($font-size-lg, 4rem);
        }
    }
}