.bb-pagination {
	display: inline-flex;
	margin: 0;
	vertical-align: middle;

	@include pagination-variant($base-variant-color, $base-variant-background);
	user-select: none;
	.item {
		padding: $pagination-padding $pagination-padding + .5;
		text-align: center;
		text-decoration: none;
		font-weight: $pagination-font-weight;
		cursor: pointer;

		@include transition($pagination-transition);
		@include border-left($pagination-border-width, $pagination-border-style, $base-variant-border);
		@include border-bottom($pagination-border-width, $pagination-border-style, $base-variant-border);
		@include border-top($pagination-border-width, $pagination-border-style, $base-variant-border);
		@include pagination-size($pagination-font-size, 3rem);
		&:first-child {
			@include border-left-radius($pagination-border-radius);
		}
		&:last-child {
			@include border-right($pagination-border-width, $pagination-border-style, $base-variant-border);
			@include border-right-radius($pagination-border-radius);
		}
	}
	.dot {
		padding: $dot-padding;
		text-decoration: none;
		cursor: pointer;

		@include transition($pagination-transition);
		@include border-radius($dot-border-radius);
		&:not(:first-child),
		&:not(:last-child) {
			margin: 0 $pagination-margin;
		}
	}
	&.no-border {
		.item {
			border: 0;
		}
	}
	&.invert {
		@include pagination-variant($invert-variant-color, $invert-variant-background);
	}
	&.primary {
		@include pagination-variant($primary-variant-color, $primary-variant-background);
	}
	&.secondary {
		@include pagination-variant($secondary-variant-color, $secondary-variant-background);
	}
	&.positive {
		@include pagination-variant($positive-variant-color, $positive-variant-background);
	}
	&.negative {
		@include pagination-variant($negative-variant-color, $negative-variant-background);
	}
	&.outline {
		@include outline-pagination-variant($base-variant-background);
		&.invert {
			@include outline-pagination-variant($invert-variant-background);
		}
		&.primary {
			@include outline-pagination-variant($primary-variant-background);
		}
		&.secondary {
			@include outline-pagination-variant($secondary-variant-background);
		}
		&.positive {
			@include outline-pagination-variant($positive-variant-background);
		}
		&.negative {
			@include outline-pagination-variant($negative-variant-background);
		}
	}
	&.sm {
		.item {
			@include pagination-size($font-size-sm, 2rem);
		}
	}
	&.lg {
		.item {
			@include pagination-size($font-size-lg, 4rem);
		}
	}
}
