.bb-tab {
	display: flex;
	overflow: hidden;
	overflow-x: auto;
	justify-content: space-between;

	@include tab-font-size($font-size);
	user-select: none;
	&.primary {
		@include tab-variant($primary-variant-background);
	}
	&.secondary {
		@include tab-variant($secondary-variant-background);
	}
	&.positive {
		@include tab-variant($positive-variant-background);
	}
	&.negative {
		@include tab-variant($negative-variant-background);
	}
	ul {
		display: flex;
		flex-grow: 1;
		padding: 0;

		@include border-bottom($tab-border-width, $border-style, $tab-background);
		li {
			display: block;
			padding: 0;
			&.active {
				a {
					color: $primary-color;

					@include border-bottom-color($primary-color);
					@include hover {
						color: $primary-color;

						@include border-bottom-color($primary-color);
					}
				}
			}
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: -$tab-border-width;
				padding: $tab-item-spacing-y $tab-item-spacing-x;
				color: $light-grey;
				cursor: pointer;

				@include border-bottom(
				$tab-border-width,
				$border-style,
				$tab-background
				);
				@include transition($tab-transition);
				@include hover {
					color: $base-color;
					text-decoration: none;

					@include border-bottom-color($base-color);
				}
			}
		}
	}
	&.center {
		ul {
			justify-content: center;
		}
	}
	&.right {
		ul {
			justify-content: flex-end;
		}
	}
	&.outline {
		li {
			&.active {
				a {
					background: transparent;

					@include border-color($tab-background);
					@include border-bottom-color($white);
					@include hover {
						background: transparent;

						@include border-bottom-color($white);
					}
				}
			}
			a {
				@include border($tab-border-width, $border-style, transparent);
				@include border-top-radius($border-radius);
				@include hover {
					background: $tab-background;

					@include border-bottom-color($tab-background);
				}
			}
		}
		&.primary {
			@include tab-outline-variant($primary-variant-background);
		}
		&.secondary {
			@include tab-outline-variant($secondary-variant-background);
		}
		&.positive {
			@include tab-outline-variant($positive-variant-background);
		}
		&.negative {
			@include tab-outline-variant($negative-variant-background);
		}
	}
	&.naked {
		&.primary {
			@include tab-naked-variant($primary-variant-background);
		}
		&.secondary {
			@include tab-naked-variant($secondary-variant-background);
		}
		&.positive {
			@include tab-naked-variant($positive-variant-background);
		}
		&.negative {
			@include tab-naked-variant($negative-variant-background);
		}
		ul {
			@include border-bottom-color(transparent);
			li {
				&.active {
					a {
						@include border-bottom-color(inherit);
					}
				}
				a {
					@include border-bottom-color(transparent);
					@include hover {
						@include border-bottom-color(inherit);
					}
				}
			}
		}
	}
	@each $font-size, $value in $font-sizes {
		&.#{$font-size} {
			@include tab-font-size($value);
		}
	}
	&.full-x {
		li {
			flex-grow: 1;
			flex-shrink: 0;
		}
	}
}
