.bb-tab {
	display: flex;
	overflow: hidden;
	overflow-x: auto;
	justify-content: space-between;

	@include tab-font-size($font-size);
	user-select: none;
	@each $variant, $value in $variants {
		&.#{$variant} {
			@include tab-variant(nth($value, 1));
		}
	}
	@each $font-size, $value in $font-sizes {
		&.#{$font-size} {
			@include tab-font-size($value);
		}
	}
	ul {
		display: flex;
		padding: 0;

		li {
			display: block;
			padding: 0;
			&.active {
				a {
					color: $tab-variant-active;

					@include border-bottom(
					$tab-border-width,
					$tab-border-style,
					$tab-variant-active
					);
					@include hover {
						color: $tab-variant-hover;

						@include border-bottom-color($tab-variant-hover);
					}
				}
			}
			.item {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: $tab-spacing-y $tab-spacing-x;
				color: $tab-variant-color;
				cursor: pointer;

				@include border-bottom(
				$tab-border-width,
				$tab-border-style,
				$tab-variant-border
				);
				@include transition($tab-transition);
				@include hover {
					color: $tab-variant-hover;
					text-decoration: none;

					@include border-bottom-color($tab-variant-hover);
				}
			}
		}
	}
	&.center {
		ul {
			flex-grow: 1;
			justify-content: center;
		}
	}
	&.right {
		ul {
			flex-grow: 1;
			justify-content: flex-end;
		}
	}
	&.full-x {
		ul {
			flex-grow: 1;
			li {
				flex-grow: 1;
				flex-shrink: 0;
			}
		}
	}
	&.naked {
		@each $variant, $value in $variants {
			&.#{$variant} {
				@include tab-naked-variant(nth($value, 1));
			}
		}
		ul {
			@include border-bottom-color(transparent);
			li {
				&.active {
					a {
						@include border-bottom-color(inherit);
					}
				}
				.item {
					@include border-bottom-color(transparent);
					@include hover {
						@include border-bottom-color(inherit);
					}
				}
			}
		}
	}
}
