.media {
	display: flex;
	align-items: flex-start;
	text-align: left;
	&.center {
		align-items: center;
	}
	&.bottom {
		align-items: flex-end;
	}
	.media-container {
		flex: 1;
	}
	.media {
		display: flex;
		margin-top: $media-spacing-y - $media-border-width;
		padding-top: $media-spacing-y;

		@include border-top(
		$media-border-width,
		$media-border-style,
		$media-variant-border
		);
	}
	& + .media {
		margin-top: $media-spacing-y;
	}
	.media-left,
	.media-right {
		flex-basis: auto;
		flex-grow: 0;
		flex-shrink: 0;
	}
	.media-left {
		margin-right: $media-spacing-x;
	}
	.media-right {
		margin-left: $media-spacing-x;
	}
	.media-content:not(:last-child) {
		padding-bottom: $media-spacing-y;
	}
	p {
		margin: 0;
	}
}
