.bb-table {
	background: $table-variant-background;
	color: $table-variant-color;

	@include border-color($table-variant-border);
	@include border-radius($table-border-radius);
	&.full-x {
		width: 100%;
	}
	&.no-border-radius {
		@include border-radius($no-border-radius);
		* {
			border-radius: 0 !important;
		}
	}
	&.naked {
		tr {
			&:not(:last-child) {
				border: none;
			}
		}
	}
	tr {
		&:first-child {
			@include border-top-radius($table-border-radius);
			td:first-child {
				border-top-left-radius: $table-border-radius;
			}
			td:last-child {
				border-top-right-radius: $table-border-radius;
			}
		}
		&:last-child {
			@include border-bottom-radius($table-border-radius);
			td:first-child {
				border-bottom-left-radius: $table-border-radius;
			}
			td:last-child {
				border-bottom-right-radius: $table-border-radius;
			}
		}
		&:not(:last-child) {
			@include border-bottom(
			$table-border-width,
			$table-border-style,
			$table-variant-border
			);
		}
	}
	td,
	th {
		padding: $table-spacing-y $table-spacing-x $table-spacing-y $table-spacing-x;
	}
	th {
		text-align: left;
	}
	@each $variant, $value in $variants {
		&.#{$variant},
		.#{$variant} {
			@include table-variant(nth($value, 3), nth($value, 1), nth($value, 2));
		}
	}
	&.success,
	.success {
		@include table-variant(
		$positive-variant-color,
		$positive-variant-background,
		$positive-variant-border
		);
	}
	&.error,
	.error {
		@include table-variant(
		$negative-variant-color,
		$negative-variant-background,
		$negative-variant-border
		);
	}
	&.striped {
		@include table-striped-variant($table-variant-color);
		@each $variant, $value in $variants {
			&.#{$variant} {
				@include table-striped-variant(nth($value, 1));
			}
		}
		&.success {
			@include table-striped-variant($positive-variant-background);
		}
		&.error {
			@include table-striped-variant($negative-variant-background);
		}
	}
	&.hover {
		cursor: pointer;

		@include table-hover-variant($table-variant-hover);
		&,
		tr {
			@each $variant, $value in $variants {
				&.#{$variant} {
					@include table-hover-variant(nth($value, 1));
				}
			}
			&.success {
				@include table-hover-variant($positive-variant-background);
			}
			&.error {
				@include table-hover-variant($negative-variant-background);
			}
		}
		td,
		th {
			@each $variant, $value in $variants {
				&.#{$variant} {
					@include table-cell-hover-variant(nth($value, 1));
				}
			}
			&.success {
				@include table-cell-hover-variant($positive-variant-background);
			}
			&.error {
				@include table-cell-hover-variant($negative-variant-background);
			}
		}
	}
	.selected {
		@include table-selected-variant($table-variant-hover);
		@each $variant, $value in $variants {
			&.#{$variant},
			.#{$variant} {
				@include table-selected-variant(nth($value, 1));
			}
		}
		&.success,
		.success {
			@include table-selected-variant($positive-variant-background);
		}
		&.error,
		.error {
			@include table-selected-variant($negative-variant-background);
		}
	}
}
