.bb-stats {
	display: inline-flex;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: $stat-spacing (-$stat-spacing);
	.bb-stat {
		margin: $stat-spacing;
	}
	&.vertical {
		align-items: center;
		flex-direction: column;
		margin: $stat-spacing (-$stat-spacing);
		max-width: none;
	}
}
