.bb-footer {
	z-index: 10;
	padding: $footer-spacing;
	width: 100%;
	box-shadow: $footer-box-shadow;

	@include footer-variant($footer-variant-color, $footer-variant-background);
	@each $variant, $value in $variants {
		&.#{$variant} {
			@include footer-variant(nth($value, 3), nth($value, 1));
		}
	}
}
