@mixin box-variant($color, $background) {
	background: $background;
	color: $color;
	@include border($border-width, $border-style, $background);
	h1,
	h2,
	h3,
	h4,
	h5,
	p {
		&:not(.text-primary):not(.text-secondary):not(.text-positive):not(.text-negative) {
			color: $color;
		}
	}
	a:not(.bb-btn):not(.link):not(.item) {
		color: $color;
	}
}

@mixin box-outline-variant($color) {
	background: #FFFFFF;
	color: $color;
	@include border($border-width, $border-style, $color);
	h1,
	h2,
	h3,
	h4,
	h5,
	p {
		&:not(.text-primary):not(.text-secondary):not(.text-positive):not(.text-negative) {
			color: $color;
		}
	}
	a:not(.bb-btn):not(.link):not(.item) {
		color: $color;
	}
}