@mixin button-font-size($font-size) {
	font-size: $font-size;
	padding: $btn-spacing-y + ($font-size - 1rem) $btn-spacing-x + ($font-size - 1rem);	
}

@mixin button-variant($color, $background, $border) {
	$active-background: darken($background, 10%);
	$active-border: darken($border, 12%);
	color: $color;
	background: $background;
	@include border-color($border);
	@include hover {
		color: $color;
		background: $active-background;
		@include border-color($active-border);
	}
	&.disabled,
	&:disabled {
		opacity: .7;
		pointer-events: none;
		cursor: not-allowed;
	}
	&:active,
	&.active {
		color: $color;
		background: $active-background;
		@include border-color($active-border);
	}
}

@mixin button-outline-variant($color) {
	$active-color: darken($color, 20%);
	color: $color;
	background: $white;
	background-image: none;
	@include border-color($color);
	@include hover {
		color: $active-color;
		@include border-color($active-color);
	}
	&.disabled,
	&:disabled {
		opacity: .7;
		pointer-events: none;
		cursor: not-allowed;
	}
	&:active,
	&.active {
		color: $color;
		@include border-color($active-color);
	}
}

@mixin button-inverted-variant($color, $background, $border) {
	$active-background: $color;
	$active-color: $background;
	color: $color;
	background: $background;
	@include border-color($border);
	@include hover {
		background: $active-background;
		color: $active-color;
	}
	&.disabled,
	&:disabled {
		opacity: .7;
		pointer-events: none;
		cursor: not-allowed;
	}
	&:active,
	&.active {
		background: $active-background;
		color: $active-color;
	}
}

@mixin button-loading-variant($color) {
	@include border-color($color transparent transparent);
	&.disabled,
	&:disabled {
		opacity: .7;
		pointer-events: none;
		cursor: not-allowed;
	}
}

@mixin link-variant($color) {
	color: $color;
	background: transparent;	
	$hover-color: darken($color, 20%);	
	@include hover-focus-active {
		color: $hover-color;		
		background: transparent;
		text-decoration: underline;		
	}	
}

@mixin close-variant($background, $color) {
	background: darken($background, 10%);
	&:before,
	&:after {
		background: $color;
	}
	@include hover-focus-active {
		background: darken($background, 20%);
	}
}

@mixin close-font-size($width, $height) {
	width: $width;
	height: $height;
}
