@mixin footer-variant($color, $background) {
    background-color: $background;   
    color: $color;     
    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        color: $color;
    }
    .bb-divider {
        border-top-color: darken($background, 12%);
        border-bottom-color: darken($background, 12%);        
    }    
}