@mixin heading-font-size($min-vw, $max-vw, $min-font-size, $max-font-size) {
	$min-vw-unit: unit($min-vw);
	$max-vw-unit: unit($max-vw);
	$min-font-size-unit: unit($min-font-size);
	$max-font-size-unit: unit($max-font-size);
	@if $min-vw-unit==$max-vw-unit and $min-vw-unit==$min-font-size-unit and $min-vw-unit==$max-font-size-unit {
		& {
			font-size: $min-font-size;
			@media screen and (min-width: $min-vw) {
				font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
			}
			@media screen and (min-width: $max-vw) {
				font-size: $max-font-size;
			}
		}
	}
}
