@mixin input-variant($color, $input-background, $border) {
	.bb-input-addon {
		@include border-color($border);
		background-color: $input-background;
		color: $color;
		&.disabled,
		&:disabled {
			opacity: .7;
		}
	}
	input {
		@include focus-active {
			@include border-color($border);
			& + .bb-input-addon {
				background-color: $input-background;
				color: $color;

				@include border-color($border);
			}
		}
	}
}

@mixin input-font-size($font-size) {
	font-size: $font-size;
}

@mixin input-addon-variant($color, $background, $border) {
	@include border-color($border);
	background-color: $background;
	color: $color;
}
