@mixin layout-variant($color, $background) {
	background: $background;
	color: $color;
	h1,
	h2,
	h3,
	h4,
	h5,
	p {
		&:not(.text-primary):not(.text-secondary):not(.text-positive):not(.text-negative) {
			color: $color;
		}
	}
	a:not(.ob-btn):not(.link) {
		color: $color;
	}
	.bb-divider {
		@include border-color(darken($background, 12%));
	}
}
