@mixin layout-variant($color, $background) {
	background: $background;
	color: $color;
	h1,
	h2,
	h3,
	h4,
	h5,
	p {
		&:not(.text-primary):not(.text-secondary):not(.text-positive):not(.text-negative):not(.text-white) {
			color: $color;
		}
	}
	a:not(.bb-btn):not(.link):not(.item) {
		color: $color;
	}
}
