@mixin navbar-variant($color) {
	$light-color: lighten($color, 10%);
	.item {
		color: $light-color;
		&:hover {
			color: $color;
		}
		&.active {
			color: $color;
		}
		&.tab {
			&:hover {
				@include border-bottom-color($light-color);
			}
			&.active {
				color: $color;

				@include border-bottom-color($color);
			}
		}
	}
}
