@mixin pagination-variant($color, $background, $border, $hover, $active) {
	.item,
	.dot {
		background: $background;
		color: $color;

		@include border-color($border);
		@include hover-focus {
			background: $hover;
			color: $color;
			text-decoration: none;
		}
		&.disabled,
		&:disabled {
			cursor: not-allowed;
			pointer-events: none;
		}
		&:active,
		&.active {
			border-color: $active;
			background: $active;
			color: $color;
		}
	}
}

@mixin outline-pagination-variant(
  $color,
  $background,
  $border,
  $hover,
  $active
) {
	.item,
	.dot {
		background: $color;
		color: $background;

		@include border-color($border);
		@include hover-focus {
			background: $hover;
			color: $color;
			text-decoration: none;
		}
		&.disabled,
		&:disabled {
			cursor: not-allowed;
			pointer-events: none;
		}
		&:active,
		&.active {
			border-color: $active;
			background: $active;
			color: $color;
		}
	}
}

@mixin pagination-font-size($font-size, $min-width) {
	min-width: $min-width;
	font-size: $font-size;
}
