@mixin pagination-variant($color, $background) {
	.item,
	.dot {
		$active-background: darken($background, 10%);
		color: $color;
		background: $background;
		@include border-color($active-background);
		@include hover {
			color: $color;
			background: $active-background;
			text-decoration: none;
		}
		&.disabled,
		&:disabled {
			pointer-events: none;
			cursor: not-allowed;
		}
		&:active,
		&.active {
			color: $color;
			background: $active-background;
		}
	}
}

@mixin outline-pagination-variant($background) {
	.item,
	.dot {
		$active-background: lighten($background, 35%);
		color: $background;
		background: $white;
		@include border-color($background);
		@include hover {
			background: $active-background;
			text-decoration: none;
		}
		&.disabled,
		&:disabled {
			pointer-events: none;
			cursor: not-allowed;
		}
		&:active,
		&.active {
			background: $active-background;
		}
	}
}

@mixin pagination-font-size($font-size, $min-width) {
	font-size: $font-size;
	min-width: $min-width;
}
