@mixin table-variant($color) {
    $light-color: lighten($color, 10%);
    $lighter-color: lighten($color, 35%);
    background: $lighter-color;
    color: $color;
    tr {
        @include border-color($light-color);
    }
}

@mixin table-striped-variant($color) {
    tr:nth-child(even) {
        background: $white;
    }
}

@mixin table-hover-variant($color) {
    $light-color: lighten($color, 10%);
    td:hover {
        background: $light-color;
    }
}

@mixin table-cell-hover-variant($color) {
    $light-color: lighten($color, 10%);
    &:hover {
        background: $light-color;
    }
}

@mixin table-selected-variant($color) {
    $light-color: lighten($color, 10%);
    background: $light-color;
}