.bb-divider {
	margin: $divider-spacing-y 0;
	height: 0;
	font-weight: $divider-font-weight;
	line-height: 1;

	user-select: none;
	&:not(.divider-content) {
		border-width: $divider-border-width;
		border-style: $divider-border-style;

		@include border-radius($divider-border-radius);
		@include divider-variant($divider-variant-border);
	}
	&.invert {
		@include divider-variant($invert-variant-background);
	}
	&.primary {
		@include divider-variant($primary-variant-background);
	}
	&.secondary {
		@include divider-variant($secondary-variant-background);
	}
	&.positive {
		@include divider-variant($positive-variant-background);
	}
	&.negative {
		@include divider-variant($negative-variant-background);
	}
	&.divider-content {
		display: table;
		height: auto;
		text-align: center;
		white-space: nowrap;
		line-height: 1;
		&:before,
		&:after {
			position: relative;
			top: 50%;
			display: table-cell;
			width: 50%;
			background-repeat: no-repeat;
			content: '';

			@include divider-content-border(
			$divider-content-border-width,
			$divider-variant-border
			);
		}
		&:before {
			background-position: right $divider-spacing-x top 50%;
		}
		&:after {
			background-position: left $divider-spacing-x top 50%;
		}
	}
	& > .icon {
		margin: $divider-icon-spacing;
		height: 1rem;
		vertical-align: middle;
		font-size: $divider-icon-font-size;
	}
	&.hidden {
		@include divider-variant(transparent);
	}
}
