.bb-input-addon,
.bb-input-btn,
.bb-input input {
	display: flex;
	align-items: center;
	&:not(:first-child):not(:last-child) {
		@include border-radius(0);
	}
}

.bb-input-addon,
.bb-input-btn {
	vertical-align: middle;
	white-space: nowrap;
}

.bb-input {
	&.left {
		input {
			border-left: 0;

			@include border-left-radius(0);
		}
		.bb-input-addon,
		.bb-input-btn,
		.bb-btn {
			order: -1;
			border-right: 0;

			@include border-right-radius(0);
		}
	}
	&.right {
		input {
			border-right: 0;

			@include border-right-radius(0);
		}
		.bb-input-addon,
		.bb-input-btn,
		.bb-btn {
			order: 1;
			border-left: 0;

			@include border-left-radius(0);
		}
	}
	input {
		@include focus-active {
			& + .bb-input-addon {
				background-color: $input-addon-background-focus;
				color: $input-addon-color-focus;

				@include border-color($input-addon-border-color-focus);
			}
		}
	}
}

.bb-input-addon {
	margin-bottom: 0;
	padding: $input-padding-y $input-padding-x;
	background-color: $input-addon-background;
	color: $input-addon-color;
	text-align: center;
	line-height: $input-line-height;

	@include border($input-border-width, $border-style, $input-addon-border-color);
	@include transition($input-transition);
	@include border-radius($input-border-radius);
	&.invert {
		@include input-addon-variant($invert-variant-color, $invert-variant-background, $invert-variant-border);
	}
	&.primary {
		@include input-addon-variant($primary-variant-color, $primary-variant-background, $primary-variant-border);
	}
	&.secondary {
		@include input-addon-variant($secondary-variant-color, $secondary-variant-background, $secondary-variant-border);
	}
	&.positive {
		@include input-addon-variant($positive-variant-color, $positive-variant-background, $positive-variant-border);
	}
	&.negative {
		@include input-addon-variant($negative-variant-color, $negative-variant-background, $negative-variant-border);
	}
	input[type='radio'],
	input[type='checkbox'] {
		margin-top: 0;
	}
}
