ul.unstyled {
	@include list-unstyled;
}

ul.inline {
	@include list-unstyled;
	.inline-item {
		display: inline-block;
		&:not(:first-child) {
			padding-left: $list-spacing-x;
		}
	}
}

ul {
	@each $font-size, $value in $font-sizes {
		&.#{$font-size},
		.#{$font-size} {
			@include list-font-size($value);
		}
	}
	li {
		padding-bottom: $list-spacing-y;
	}
}

ul.icon {
	padding-left: $list-spacing-x * 2;
	@each $font-size, $value in $font-sizes {
		&.#{$font-size},
		.#{$font-size} {
			@include list-font-size($value);
		}
	}
	li {
		i {
			margin-left: -$font-size - .5;
			padding-right: $list-spacing-x / 2;
		}
	}
}
