.text-justify {
	text-align: justify;
}

.text-nowrap {
	white-space: nowrap;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-lowercase {
	text-transform: lowercase;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-capitalize {
	text-transform: capitalize;
}

.text-underline {
	text-decoration: underline;
}

.text-line-through {
	text-decoration: line-through;
}

.text-xs {
	@include text-font-size($font-size-xs);
}

.text-sm {
	@include text-font-size($font-size-sm);
}

.text-md {
	@include text-font-size($body-font-size);
}

.text-lg {
	@include text-font-size($font-size-lg);
}

.text-xl {
	@include text-font-size($font-size-xl);
}

.font-weight-normal {
	font-weight: $font-weight;
}

.font-weight-bold {
	font-weight: $font-weight-bold;
}

.font-style-italic {
	font-style: italic;
}

.font-family-body {
	font-family: $font-family;
}

.font-family-heading {
	font-family: $heading-font-family;
}

@include text-variant('.text-primary', $primary-variant-background);
@include text-variant('.text-secondary', $secondary-variant-background);
@include text-variant('.text-positive', $positive-variant-background);
@include text-variant('.text-negative', $negative-variant-background);
@include text-variant('.text-invert', $invert-variant-background);
@include text-variant('.text-white', $white);
@include text-variant('.text-light-grey', $light-grey);
@include text-variant('.text-lighter-grey', $lighter-grey);
