@each $breakpoint in map-keys($breakpoints) {
  .hidden-#{$breakpoint}-up {
    @include respond-to-up($breakpoint) {
      display: none !important;
    }
  }
  .hidden-#{$breakpoint}-down {
    @include respond-to-down($breakpoint) {
      display: none !important;
    }
  }
  .invisible-#{$breakpoint}-up {
    @include respond-to-up($breakpoint) {
      visibility: hidden !important;
    }
  }
  .invisible-#{$breakpoint}-down {
    @include respond-to-down($breakpoint) {
      visibility: hidden !important;
    }
  }
}

.invisible {
  visibility: hidden !important;
}
.hidden {
  display: none !important;
}
