h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	line-height: 1.2;
}

h1 {
	font-size: $heading-min-modifier*$heading-min-modifier*$heading-min-modifier*$heading-min-modifier *1rem;

	@include heading-font-font-size($heading-min-width, $heading-max-width, $heading-min-modifier*$heading-min-modifier*$heading-min-modifier*$heading-min-modifier *$heading-min-font, $heading-max-modifier*$heading-max-modifier*$heading-max-modifier*$heading-max-modifier *$heading-min-font);
}

h2 {
	font-size: $heading-min-modifier*$heading-min-modifier*$heading-min-modifier *1rem;

	@include heading-font-font-size($heading-min-width, $heading-max-width, $heading-min-modifier*$heading-min-modifier*$heading-min-modifier *$heading-min-font, $heading-max-modifier*$heading-max-modifier*$heading-max-modifier *$heading-min-font);
}

h3 {
	font-size: $heading-min-modifier*$heading-min-modifier *1rem;

	@include heading-font-font-size($heading-min-width, $heading-max-width, $heading-min-modifier*$heading-min-modifier *$heading-min-font, $heading-max-modifier*$heading-max-modifier *$heading-min-font);
}

h4 {
	font-size: $heading-min-modifier *1rem;

	@include heading-font-font-size($heading-min-width, $heading-max-width, $heading-min-modifier *$heading-min-font, $heading-max-modifier *$heading-min-font);
}

h5 {
	font-size: $heading-min-modifier *1rem;

	@include heading-font-font-size($heading-min-width, $heading-max-width, $heading-min-modifier, $heading-max-modifier);
}

.title {
	line-height: $title-line-height;
}

.title:not(:last-child),
.subtitle:not(:last-child) {
	margin: 0 0 $title-spacing 0;
}

.title + .subtitle {
	margin: -$title-spacing 0 0 0;
}

.subtitle {
	font-size: $subtitle-font-size;
}
