.bb-stats {
  display: inline-flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: $stat-spacing-y (-$stat-spacing-x);
  .bb-stat {
    margin: $stat-spacing-y $stat-spacing-x;
  }
  &.vertical {
    align-items: center;
    flex-direction: column;
    margin: $stat-spacing-y (-$stat-spacing-x);
    max-width: none;
  }
}
