// Variables

// Colours

$background: #ffffff;
$primary-color: #fff;
$primary-pair: #ffffff;
$secondary-color: #FFB52F;
$secondary-pair: #ffffff;

$error: #D33C40;
$success: green;

$accent-color: #cdcdcd;
$alternate-background: #fafafa;
$alternate-color: #404040;
$link-color: $primary-color;
$link-hover-color: darken($link-color, 15%);
$highlight: #ffeea8;
$bq-border: 16px solid #f0f0f0;

$white: #ffffff;
$grey: #4a4a4a;

//-------------------------------------------------------------------

/* Containers */

$x-small: 600px;
$small: 800px;
$medium: 1000px;
$large: 1200px;

/* Breakpoints */

$mobile: $x-small;
$desktop: $medium;

/* Typography */

// Body font
$font-size: 1rem;
$body-font-size: 1rem;
$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: #404040;
$font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
$line-height: 1.6;

// Headings
$heading-font-color: #404040;
$heading-font-weight: 600;
$heading-font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
$heading-line-height: 1.2;

/* Padding */

$padding: 1rem;
$margins: 1.5rem;
$content-padding: 60px 0;
$content-padding-mobile: 30px 0;

/* Borders */

$border-width: 1px;
$border-style: solid;
$border-color: #dedede;
$border-radius: 0.2rem;
$borders: $border-width $border-style $border-color;

/* Forms */

$forms: ('[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea');
$input-background: transparent;
$placeholder: darken($accent-color, 20%);
$form-border: 1px solid #cdcdcd;
$form-border-hover: 1px solid darken(#cdcdcd, 10%);
$form-border-focus: 1px solid $link-color;

/* Tables */

$stripes: #f0f0f0;
$caption: #ababab;

/* Code */

$code-color: $font-color;
$code-size: 14px;
$code-family: Menlo, monospace;
$code-background: transparent;
$code-borders: $borders;

// -------------------------------------------------------------------

// Buttons

$btn: ('.dth-btn, a.dth-btn, button, [type=submit], [type=reset], [type=button]');

$btn-background: $grey;
$btn-background-hover: darken($btn-background, 10%);
$btn-color: $white;
$btn-font-weight: 500;
$btn-font-size: 1rem;
$btn-border-width: 2px;
$btn-border-style: solid;
$btn-border-color: $btn-background;
$btn-border-radius: $border-radius;
$btn-text-transform: none;
$btn-padding: .75rem;

// Outline buttons

$btn-outline-border: 2px solid $grey;
$btn-outline-border-hover: 2px solid darken($grey, 40%);
$btn-outline-background: transparent;
$btn-outline-background-hover: transparent;
$btn-outline-color: $grey;
$btn-outline-color-hover: darken($btn-outline-color, 40%);

// Inverted buttons

$btn-invert-border: 2px solid $grey;
$btn-invert-background: $grey;
$btn-invert-background-hover: $white;
$btn-invert-color: $btn-invert-background-hover;
$btn-invert-color-hover: $btn-invert-background;

// Primary buttons
$btn-primary-background: $primary-color;
$btn-primary-color: $primary-pair;
$btn-primary-color-hover: $primary-pair;

// Secondary buttons
$btn-secondary-background: $secondary-color;
$btn-secondary-color: $secondary-pair;
$btn-secondary-color-hover: $secondary-pair;

//-------------------------------------------------------------------