@mixin jumbotron-variant($jumbotron-color, $jumbotron-background) {
    color: $jumbotron-color;
    background-color: $jumbotron-background;
    .dth-divider {
        border-top-color: darken($jumbotron-background, 12%);
        border-bottom-color: darken($jumbotron-background, 12%);        
    }    
}