.bb-field {
	&.left {
		input,
		select {
			border-left: 0;

			@include border-left-radius(0);
		}
		.field-addon,
		.bb-btn {
			order: -1;

			@include border-right-radius(0);
		}
		.bb-btn {
			border-right: 0;
		}
	}
	&.right {
		input,
		select {
			border-right: 0;

			@include border-right-radius(0);
		}
		.field-addon,
		.bb-btn {
			order: 1;

			@include border-left-radius(0);
		}
		.bb-btn {
			border-left: 0;
		}
	}
	&.left-right {
		input,
		select {
			border-right: 0;
			border-left: 0;

			@include border-left-radius(0);
			@include border-right-radius(0);
		}
		.field-addon:first-child,
		.bb-btn:first-child {
			@include border-right-radius(0);
		}
		.field-addon:last-child,
		.bb-btn:last-child {
			@include border-left-radius(0);
		}
		.bb-btn:first-child {
			border-right: 0;
		}
		.bb-btn:last-child {
			border-left: 0;
		}
	}
	.field-addon,
	.bb-field input,
	.bb-field select {
		display: flex;
		align-items: center;
		&:not(:first-child):not(:last-child) {
			@include border-radius(0);
		}
	}

	.field-addon {
		vertical-align: middle;
		white-space: nowrap;
	}

	.field-addon {
		margin-bottom: 0;
		padding: $field-addon-spacing-y $field-addon-spacing-x;
		background: $field-addon-variant-background;
		color: $field-addon-variant-color;
		text-align: center;
		line-height: $field-line-height;

		@include border(
		$field-border-width,
		$border-style,
		$field-addon-variant-border
		);
		@include transition($field-transition);
		@include border-radius($field-border-radius);
		@each $variant, $value in $variants {
			&.#{$variant} {
				@include field-addon-variant(
				nth($value, 3),
				nth($value, 1),
				nth($value, 2)
				);
			}
		}
		input[type='radio'],
		input[type='checkbox'] {
			margin-top: 0;
		}
	}
	.input-group {
		.bb-btn {
			padding: $field-addon-spacing-y $field-addon-spacing-x;
		}
	}
	select {
		padding-right: 2rem;
	}
}

.disabled {
	.field-addon,
	.bb-btn {
		opacity: $field-addon-variant-disabled-opacity;
		cursor: not-allowed;
		pointer-events: none;
	}
}
