    <button>Button</button>
    <input type="submit" value="Submit">
    <input type="button" value="Input">
    <a class="dth-btn">Link</a>
    
    <br>
    <br>

    <button>Button</button>
    <button class="primary">Button</button>
    <button class="secondary">Button</button>
    
    <br>
    <br>

    <button class="positive">Button</button>
    <button class="negative">Button</button>
    
    <br>
    <br>    
    
    <button class="outline">Button</button>
    <button class="outline primary">Button</button>
    <button class="outline secondary">Button</button>
    
    <br>
    <br>
    
    <button class="invert">Button</button>
    <button class="invert primary">Button</button>
    <button class="invert secondary">Button</button>
    
    <br>
    <br>

    <button class="loading">Button</button>
    <button class="loading primary">Button</button>
    <button class="loading secondary">Button</button>

    <br>
    
    <button class="loading outline">Button</button>
    <button class="loading primary outline">Button</button>
    <button class="loading secondary outline">Button</button>   
    

    <br>
    <br>
    
    <button class="xs">Button</button>
    <button class="sm">Button</button>
    <button class="lg">Button</button>
    <button class="xl">Button</button>
    
    <br>
    <br>
