<h1>Buttons</h1>

<button>Button</button>
<input type="submit" value="Submit">
<input type="button" value="Input">
<a class="dth-btn">Link</a>

<div class="dth-divider"></div>

<button>Button</button>
<button class="primary">Button</button>
<button class="secondary">Button</button>
<button class="positive">Button</button>
<button class="negative">Button</button>

<div class="dth-divider"></div>

<button disabled>Button</button>
<button class="primary disabled">Button</button>
<button class="secondary disabled">Button</button>
<button class="positive disabled">Button</button>
<button class="negative disabled">Button</button>

<div class="dth-divider"></div>

<button class="outline">Button</button>
<button class="outline primary">Button</button>
<button class="outline secondary">Button</button>

<div class="dth-divider"></div>

<button class="outline positive">Button</button>
<button class="outline negative">Button</button>
<button disabled class="outline">Button</button>

<div class="dth-divider"></div>

<button class="invert">Button</button>
<button class="invert primary">Button</button>
<button class="invert secondary">Button</button>

<div class="dth-divider"></div>

<button class="invert positive">Button</button>
<button class="invert negative">Button</button>

<div class="dth-divider"></div>

<button class="loading">Button</button>
<button class="loading primary">Button</button>
<button class="loading secondary">Button</button>
<button class="loading positive">Button</button>
<button class="loading negative">Button</button>

<div class="dth-divider"></div>

<button class="loading outline">Button</button>
<button class="loading primary outline">Button</button>
<button class="loading secondary outline">Button</button>
<button class="loading positive outline">Button</button>
<button class="loading negative outline">Button</button>

<div class="dth-divider"></div>

<button disabled class="loading">Button</button>

<div class="dth-divider"></div>

<button class="xs">Button</button>
<button class="sm">Button</button>
<button class="lg">Button</button>
<button class="xl">Button</button>

<div class="dth-divider"></div>