<div class="dth-jumbotron">
    <div class="container">
        <h2>Example</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni id minus, repellendus accusamus doloribus odit quasi
            doloremque, at perspiciatis sunt aspernatur reprehenderit itaque aliquam culpa laudantium nemo voluptatem. Harum,
            distinctio.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni id minus, repellendus accusamus doloribus odit quasi
            doloremque, at perspiciatis sunt aspernatur reprehenderit itaque aliquam culpa laudantium nemo voluptatem. Harum,
            distinctio.</p>
        <div class="dth-divider"></div>
        <p><a class="dth-btn primary xl" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>