<nav class="dth-pagination">
    <a class="item" href="#">1</a>
    <a class="item" href="#">2</a>
    <a class="item active" href="#">3</a>
    <a class="item disabled">...</a>
    <a class="item" href="#">8</a>
    <a class="item" href="#">9</a>
</nav>

<div class="dth-divider"></div>

<nav class="dth-pagination primary">
    <a class="item active" href="#">1</a>
    <a class="item" href="#">2</a>
    <a class="item" href="#">3</a>
    <a class="item disabled">...</a>
    <a class="item" href="#">8</a>
    <a class="item" href="#">9</a>
</nav>

<div class="dth-divider"></div>

<nav class="dth-pagination secondary">
    <a class="item" href="#">1</a>
    <a class="item" href="#">2</a>
    <a class="item" href="#">3</a>
    <a class="item disabled">...</a>
    <a class="item active" href="#">8</a>
    <a class="item" href="#">9</a>
</nav>

<div class="dth-divider"></div>

<nav class="dth-pagination positive">
    <a class="item" href="#">1</a>
    <a class="item active" href="#">2</a>
    <a class="item" href="#">3</a>
    <a class="item disabled">...</a>
    <a class="item" href="#">8</a>
    <a class="item" href="#">9</a>
</nav>

<div class="dth-divider"></div>

<nav class="dth-pagination negative">
    <a class="item" href="#">1</a>
    <a class="item" href="#">2</a>
    <a class="item" href="#">3</a>
    <a class="item disabled">...</a>
    <a class="item" href="#">8</a>
    <a class="item active" href="#">9</a>
</nav>

<div class="dth-divider"></div>

<nav class="dth-pagination primary sm">
    <a class="item" href="#">1</a>
    <a class="item" href="#">2</a>
    <a class="item active" href="#">3</a>
    <a class="item disabled">...</a>
    <a class="item" href="#">8</a>
    <a class="item" href="#">9</a>
</nav>

<div class="dth-divider"></div>

<nav class="dth-pagination primary borderless">
    <a class="item" href="#">1</a>
    <a class="item" href="#">2</a>
    <a class="item active" href="#">3</a>
    <a class="item disabled">...</a>
    <a class="item" href="#">8</a>
    <a class="item" href="#">9</a>
</nav>

<div class="dth-divider"></div>

<nav class="dth-pagination primary lg">
    <a class="item" href="#">1</a>
    <a class="item" href="#">2</a>
    <a class="item active" href="#">3</a>
    <a class="item disabled">...</a>
    <a class="item" href="#">8</a>
    <a class="item" href="#">9</a>
</nav>

<div class="dth-divider"></div>

<nav class="dth-pagination primary">
    <a class="dot" href="#"></a>
    <a class="dot" href="#"></a>
    <a class="dot active" href="#"></a>
    <a class="dot" href="#"></a>    
</nav>