<section id="splash-screen" class="splash-screen bg-primary">
    <div class="splash-screen-content text-center">
        <div class="slide-top">
            <a class="logo" href="#">
                <img src="{{root}}/img/splash-screen-placeholder.png">
            </a>
        </div>
        <div class="slide-left">
            <h1>Barebones</h1>
        </div>
        <div class="slide-right">
            <h3>by Daniel Humenko</h3>
        </div>
    </div>
</section>
<!--<section id="intro" class="bg-primary">
    <div class="wrapper">
        <div class="row">
            <div class="col-sm-12 text-center">
                <img src="assets/img/base/labcase.png">
                <h1>A compact test-suite that comes to you.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h4>Low cost.</h4>
                <p>Organising a team trip to a Lab takes time and money. Have a Labcase delivered to your workplace.</p>
            </div>
            <div class="col-sm-4">
                <h4>More time.</h4>
                <p>Instead of one day at a Lab, you can keep the Labcase for a week or two, giving you more time to test.</p>
            </div>
            <div class="col-sm-4">
                <h4>More productive.</h4>
                <p>You can find bugs and fix them more quickly whilst sat at your own desk.</p>
            </div>
        </div>
    </div>
</section>-->