.bb-family-grid {
	align-items: stretch;
	display: block;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	min-height: min-content;
	&.grand-parent {
		margin-left: -$grid-spacing;
		margin-right: -$grid-spacing;
		margin-top: -$grid-spacing;
		&:last-child {
			margin-bottom: -$grid-spacing;
		}
		&:not(:last-child) {
			margin-bottom: $grid-spacing;
		}
	}
	&.child {
		margin: 0;
	}
	&.parent {
		padding: $grid-spacing;
	}
	&.vertical {
		flex-direction: column;
		& > .bb-family-grid.child:not(:last-child) {
			margin-bottom: $grid-spacing * 2;
		}
	}
	@include respond-to('lg') {
		&:not(.child) {
			display: flex;
		}
		.one-quarter {
			flex: none;
			width: 25%;
		}
		.half {
			flex: none;
			width: 50%;
		}
		.three-quarters {
			flex: none;
			width: 75%;
		}
		.one-third {
			flex: none;
			width: 33.3333%;
		}
		.two-thirds {
			flex: none;
			width: 66.6666%;
		}
		@for $i from 1 through $grid-max-column {
			.column-#{$i} {
				flex: none;
				width: $i / $grid-max-column * 100%;
			}
		}
	}
}
