.bb-grid {
	display: block;
	flex-flow: wrap;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	margin-right: -$grid-spacing;
	margin-bottom: $grid-spacing * 2;
	margin-left: -$grid-spacing;

	@include respond-to('lg') {
		display: flex;
	}
	@include grid;
	&:last-child {
		margin-bottom: -$grid-spacing;
	}
	&.center {
		justify-content: center;
	}
	&.connected {
		margin-top: 0;
		margin-right: 0;
		margin-left: 0;
		&:last-child {
			margin-bottom: 0;
		}
		& > .column {
			margin: 0;
			padding: 0;
		}
	}
	.column {
		display: block;
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 1;
		padding-right: $grid-spacing;
		padding-bottom: $grid-spacing * 2;
		padding-left: $grid-spacing;
		&:last-child {
			padding-bottom: 0;
		}
	}
	@each $breakpoint in map-keys($breakpoints) {
		@include respond-to($breakpoint) {
			@include grid-responsive($breakpoint);
			&.#{$breakpoint} {
				display: flex;

				@include grid;
			}
		}
	}
}
