.bb-pagination {
	display: inline-flex;
	margin: 0;
	vertical-align: middle;

	@include pagination-variant(
	$pagination-variant-color,
	$pagination-variant-background,
	$pagination-variant-border,
	$pagination-variant-hover,
	$pagination-variant-active
	);
	user-select: none;
	.item {
		padding: $pagination-spacing-y $pagination-spacing-x;
		text-align: center;
		text-decoration: none;
		font-weight: $pagination-font-weight;
		cursor: pointer;

		@include transition($pagination-transition);
	}
	&:not(.connected) {
		.item {
			@include border(
			$pagination-border-width,
			$pagination-border-style,
			$pagination-variant-border
			);
			@include border-radius($pagination-border-radius);
			&:not(:last-child) {
				margin-right: $pagination-spacing-x/2;
			}
		}
	}
	&.connected {
		.item {
			@include border-left(
			$pagination-border-width,
			$pagination-border-style,
			$pagination-variant-border
			);
			@include border-bottom(
			$pagination-border-width,
			$pagination-border-style,
			$pagination-variant-border
			);
			@include border-top(
			$pagination-border-width,
			$pagination-border-style,
			$pagination-variant-border
			);
			@include pagination-font-size(
			$pagination-font-size,
			$pagination-min-width
			);
			&:first-child {
				@include border-left-radius($pagination-border-radius);
			}
			&:last-child {
				border-right-width: $pagination-border-width;
				border-right-style: $pagination-border-style;

				@include border-right-radius($pagination-border-radius);
			}
		}
	}

	.dot {
		padding: $pagination-dot-size;
		color: transparent;
		text-decoration: none;
		font-size: 0;
		line-height: 0;
		cursor: pointer;

		@include border(
		$pagination-border-width,
		$pagination-border-style,
		$pagination-variant-border
		);
		@include transition($pagination-transition);
		@include border-radius($pagination-dot-border-radius);
		&:not(:first-child),
		&:not(:last-child) {
			margin: 0 $pagination-dot-spacing;
		}
	}
	&.no-border {
		.item {
			border: 0 !important;
		}
	}
	@each $variant, $value in $variants {
		&.#{$variant} {
			@include pagination-variant(
			nth($value, 3),
			nth($value, 1),
			nth($value, 2),
			nth($value, 4),
			nth($value, 5)
			);
		}
	}
	&.outline {
		@include outline-pagination-variant(
		$pagination-variant-color,
		$pagination-variant-background,
		$pagination-variant-border,
		$pagination-variant-hover,
		$pagination-variant-active
		);
		@each $variant, $value in $variants {
			&.#{$variant} {
				@include outline-pagination-variant(
				nth($value, 3),
				nth($value, 1),
				nth($value, 2),
				nth($value, 4),
				nth($value, 5)
				);
			}
		}
	}
	&.xs {
		.item {
			@include pagination-font-size($font-size-xs, $pagination-min-width - 2);
		}
	}
	&.sm {
		.item {
			@include pagination-font-size($font-size-sm, $pagination-min-width - 1);
		}
	}
	&.lg {
		.item {
			@include pagination-font-size($font-size-lg, $pagination-min-width + 1);
		}
	}
	&.xl {
		.item {
			@include pagination-font-size($font-size-xl, $pagination-min-width + 2);
		}
	}
}
