.bb-divider {
	margin: $divider-spacing-y 0;
	height: 0;
	font-weight: $divider-font-weight;
	line-height: 1;

	user-select: none;
	& + p:not(:first-child) {
		padding-top: 0;
	}
	&:not(.divider-content) {
		border-width: $divider-border-width;
		border-style: $divider-border-style;

		@include border-radius($divider-border-radius);
		@include divider-variant($divider-variant-border);
	}
	@each $variant, $value in $variants {
		&.#{$variant} {
			@include divider-variant(nth($value, 1));
		}
	}
	&.divider-content {
		display: table;
		height: auto;
		text-align: center;
		white-space: nowrap;
		line-height: 1;
		&:before,
		&:after {
			position: relative;
			top: 50%;
			display: table-cell;
			width: 50%;
			background-repeat: no-repeat;
			content: '';

			@include divider-content-border(
			$divider-content-border-width,
			$divider-variant-border
			);
		}
		&:before {
			background-position: right $divider-spacing-x top 50%;
		}
		&:after {
			background-position: left $divider-spacing-x top 50%;
		}
	}
	&.hidden {
		@include divider-variant(transparent);
	}
}
