.bb-card {
	position: relative;
	max-width: 100%;
	background: $card-background;
	box-shadow: $card-box-shadow;
	color: $card-color;
	font-family: $card-content-font-family;

	@include border-radius($card-border-radius);
	&.no-shadow {
		box-shadow: none;
	}
	&.no-border-radius {
		@include border-radius($no-border-radius);
		.card-image img {
			@include border-top-radius($no-border-radius);
		}
	}
	&.invert {
		@include card-variant($card-border-width, $card-border-style, $invert-variant-color);
	}
	&.primary {
		@include card-variant($card-border-width, $card-border-style, $primary-variant-background);
	}
	&.secondary {
		@include card-variant($card-border-width, $card-border-style, $secondary-variant-background);
	}
	&.positive {
		@include card-variant($card-border-width, $card-border-style, $positive-variant-background);
	}
	&.negative {
		@include card-variant($card-border-width, $card-border-style, $negative-variant-background);
	}
	.card-header {
		display: flex;
		align-items: stretch;

		@include border-bottom($card-border-width, $card-border-style, $card-border-color);
		.header-title {
			display: flex;
			align-items: center;
			flex-grow: 1;
			padding: $card-header-spacing-y $card-header-spacing-x $card-header-spacing-y $card-header-spacing-x;
			font-weight: $card-heading-font-weight;
			font-family: $card-heading-font-family;
		}
	}
	.card-image {
		position: relative;
		display: block;
		img {
			width: 100%;

			@include border-top-radius($card-border-radius);
		}
	}
	.card-content {
		padding: $card-content-spacing-y $card-content-spacing-x;
		& + .card-content {
			padding-top: 0;
		}
		.media:not(:last-child) {
			margin-bottom: $card-content-spacing-y;
		}
		&:last-child {
			padding-bottom: $card-content-spacing-y;
		}
	}
	.card-footer {
		display: flex;
		align-items: stretch;

		@include border-top($btn-border-width, $btn-border-style, $card-footer-border-color);
		.item {
			display: flex;
			align-items: center;
			flex-basis: 0;
			flex-grow: 1;
			flex-shrink: 0;
			justify-content: center;
			padding: $card-content-spacing-y / 2 $card-content-spacing-x / 2;
			&:not(:last-child) {
				@include border-right($card-border-width, $card-border-style, $card-item-border-color);
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
}
