.bb-card {
	position: relative;
	max-width: 100%;
	background-color: $white;
	box-shadow: $card-box-shadow;

	@include border-radius($card-border-radius);
	&.no-shadow {
		box-shadow: none;
	}
	&.no-border-radius {
		@include border-radius($no-border-radius);
		.card-image img {
			@include border-top-radius($no-border-radius);
		}
	}
	&.invert {
		@include card-variant($border-width, $border-style, $invert-variant-color);
	}
	&.primary {
		@include card-variant($border-width, $border-style, $primary-variant-background);
	}
	&.secondary {
		@include card-variant($border-width, $border-style, $secondary-variant-background);
	}
	&.positive {
		@include card-variant($border-width, $border-style, $positive-variant-background);
	}
	&.negative {
		@include card-variant($border-width, $border-style, $negative-variant-background);
	}
	.card-header {
		display: flex;
		align-items: stretch;

		@include border-bottom($border-width, $border-style, $card-border-color);
		.header-title {
			display: flex;
			align-items: center;
			flex-grow: 1;
			padding: $card-spacing;
			font-weight: $font-weight-bold;
		}
	}
	.card-image {
		position: relative;
		display: block;
		img {
			width: 100%;

			@include border-top-radius($card-border-radius);
		}
	}
	.card-content {
		padding: $card-spacing;
		& + .card-content {
			padding-top: 0;
		}
		.media:not(:last-child) {
			margin-bottom: $card-spacing;
		}
	}
	.card-footer {
		display: flex;
		align-items: stretch;

		@include border-top($btn-border-width, $btn-border-style, $card-border-color);
		.footer-item {
			display: flex;
			align-items: center;
			flex-basis: 0;
			flex-grow: 1;
			flex-shrink: 0;
			justify-content: center;
			padding: $card-spacing / 2;
			&:not(:last-child) {
				@include border-right($border-width, $border-style, $card-border-color);
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
}
