.bb-navbar {
	position: relative;
	z-index: 6;
	min-height: $navbar-height;
	background-color: $navbar-background-color;

	@include respond-to('lg') {
		&,
		.items,
		.left,
		.right {
			display: flex;
			align-items: stretch;
		}
	}
	&.fixed {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 100;
		 + div,
		 + section {
			margin-top: $navbar-fixed-spacing-y;
		}
	}
	&.shadow {
		box-shadow: $navbar-box-shadow;
		.items.active {
			box-shadow: $navbar-box-shadow;
		}
	}
	&.primary {
		@include navbar-variant($primary-variant-background);
	}
	&.secondary {
		@include navbar-variant($secondary-variant-background);
	}
	&.positive {
		@include navbar-variant($positive-variant-background);
	}
	&.negative {
		@include navbar-variant($negative-variant-background);
	}
	.brand {
		display: flex;
		align-items: stretch;
		.item {
			display: flex;
			align-items: center;
			padding-left: $padding;
		}
		img {
			max-height: $navbar-image-max-height;
		}
	}
	a.item,
	.link {
		@include respond-to('lg') {
			&.active {
				color: $navbar-item-active-color;
			}
			&.active:not(:hover) {
				background-color: $navbar-item-active-background;
			}
		}
		&:hover:not(.active) {
			color: $navbar-item-hover-color;
		}
		&:hover {
			text-decoration: none;
		}
	}
	.item {
		@include respond-to('lg') {
			&.bb-dropdown {
				align-items: stretch;
			}
			&.active,
			&.hover:hover {
				.dropdown-menu {
					display: block;
					opacity: 1;
					transform: translateY(0);
					pointer-events: auto;
				}
			}
		}
		&.bb-dropdown {
			.link {
				padding: $navbar-item-spacing-x;
				background: $navbar-dropdown-item-hover-background;

				@include respond-to('lg') {
					background: $navbar-item-hover-background;
				}
			}
		}
	}
	.link {
		@include respond-to('lg') {
			&::after {
				top: 50%;
				right: $navbar-item-spacing-x;

				@include chevron-down($navbar-dropdown-chevron);
				margin-left: .5rem;				
			}
		}
	}
	.item,
	.link {
		position: relative;
		display: block;
		flex-grow: 0;
		flex-shrink: 0;
		justify-content: center;
		justify-content: flex-start;
		padding: $navbar-item-spacing-y $navbar-item-spacing-x;
		color: $navbar-item-color;
		font-weight: $navbar-font-weight;
		font-size: $body-font-size;

		@include respond-to('lg') {
			display: flex;
			align-items: center;
		}
		@include transition($navbar-tab-transition);
		&.tab {
			padding-right: $navbar-tab-spacing;
			padding-left: $navbar-tab-spacing;

			@include border-bottom($navbar-tab-border-width, $border-style, transparent);
			&:hover {
				@include border-top-color(transparent);
				@include border-bottom-color($navbar-tab-border-hover-color);
			}
			&.active {
				padding-bottom: calc(#{$navbar-item-spacing-y} - #{$navbar-tab-border-width});
				color: $primary-color;

				@include border-bottom($navbar-tab-border-width, $border-style, $navbar-tab-border-active-color);
			}
		}
		img {
			max-height: $navbar-height;
		}
	}
	.dropdown-menu {
		position: relative;
		padding: $dropdown-menu-spacing-y $dropdown-item-spacing-x;
		border-top: none;
		box-shadow: none;
		font-size: $dropdown-menu-font-size;
		opacity: 1;

		@include border-bottom-radius($navbar-dropdown-border-radius);
		@include transition($navbar-dropdown-transition);
		@include respond-to('lg') {
			position: absolute;
			top: calc(100% + (#{$navbar-dropdown-offset}));
			left: 0;
			z-index: 20;
			display: block;
			padding: $navbar-item-spacing-y/2 0;
			min-width: 100%;
			border-top: $navbar-dropdown-border;
			background-color: $navbar-dropdown-background;
			box-shadow: $navbar-box-shadow;
			opacity: 0;
			transform: translateY(#{$navbar-dropdown-offset});
			pointer-events: none;

			@include border-bottom-radius($navbar-dropdown-border-radius);
			@include transition($navbar-dropdown-transition);
			&.static {
				top: 100%;
			}
			a.dropdown-item {
				padding-right: 3rem;
				white-space: wrap;
				&:hover {
					background-color: $navbar-dropdown-item-hover-background;
					color: $navbar-dropdown-item-hover;
				}
				&.active {
					background-color: $navbar-dropdown-item-active-background;
					color: $navbar-dropdown-item-active;
				}
			}
		}
		.dropdown-item {
			padding-right: $navbar-item-spacing-x;
			padding-left: $navbar-item-spacing-x * 2;

			@include respond-to('lg') {
				padding: $navbar-item-spacing-y / 2 $navbar-item-spacing-x * 2;
				white-space: nowrap;
			}
			@include transition($navbar-dropdown-transition);
		}
	}
	.bb-divider {
		margin: $padding / 2 0;
	}
	.toggle {
		align-self: center;
		margin-left: auto;

		@include respond-to('lg') {
			display: none;
		}
		@include burger($navbar-height);
	}
}

.items {
	display: none;

	@include respond-to('lg') {
		flex-grow: 1;
		flex-shrink: 0;
		 > .left {
			justify-content: flex-start;
			margin-right: auto;
		}
		 > .right {
			justify-content: flex-end;
			margin-left: auto;
			padding-right: $navbar-item-spacing-x;
		}
	}
	&.active {
		display: block;
		.link {
			padding-right: $padding;
			padding-left: $padding;
		}
		a.item {
			padding-left: $padding;
		}
	}
}
