#{$btn} {
	display: inline-block;
	padding: $btn-spacing-y $btn-spacing-x;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	text-transform: $btn-text-transform;
	font-weight: $btn-font-weight;
	font-family: $btn-font-family;
	line-height: $btn-line-height;
	cursor: pointer;

	-webkit-appearance: none;
	@include button-font-size($btn-font-size);
	@include border-radius($btn-border-radius);
	@include border($btn-border-width, $btn-border-style, $base-variant-border);
	@include button-variant($btn-color, $btn-background, $btn-border-color);
	@include transition($btn-transition);
	user-select: none;
	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
	&.xs {
		@include button-font-size($font-size-xs);
	}
	&.sm {
		@include button-font-size($font-size-sm);
	}
	&.lg {
		@include button-font-size($font-size-lg);
	}
	&.xl {
		@include button-font-size($font-size-xl);
	}
	&.full-x {
		display: block;
		width: 100%;
	}
	&.no-border-radius {
		@include border-radius($no-border-radius);
	}
	&.invert {
		@include button-variant($invert-variant-color, $invert-variant-background, $invert-variant-border);
	}
	&.primary {
		@include button-variant($primary-variant-color, $primary-variant-background, $primary-variant-border);
	}
	&.secondary {
		@include button-variant($secondary-variant-color, $secondary-variant-background, $secondary-variant-border);
	}
	&.positive {
		@include button-variant($positive-variant-color, $positive-variant-background, $positive-variant-border);
	}
	&.negative {
		@include button-variant($negative-variant-color, $negative-variant-background, $negative-variant-border);
	}
	&.outline {
		@include button-outline-variant($base-variant-background);
		&.invert {
			@include button-outline-variant($invert-variant-background);
		}
		&.primary {
			@include button-outline-variant($primary-variant-background);
		}
		&.secondary {
			@include button-outline-variant($secondary-variant-background);
		}
		&.positive {
			@include button-outline-variant($positive-variant-background);
		}
		&.negative {
			@include button-outline-variant($negative-variant-background);
		}
	}
	&.inverted {
		@include button-inverted-variant($base-variant-color, $base-variant-background, $base-variant-border);
		&.invert {
			@include button-inverted-variant($invert-variant-color, $invert-variant-background, $invert-variant-border);
		}
		&.primary {
			@include button-inverted-variant($primary-variant-color, $primary-variant-background, $primary-variant-border);
		}
		&.secondary {
			@include button-inverted-variant($secondary-variant-color, $secondary-variant-background, $secondary-variant-border);
		}
		&.positive {
			@include button-inverted-variant($positive-variant-color, $positive-variant-background, $positive-variant-border);
		}
		&.negative {
			@include button-inverted-variant($negative-variant-color, $negative-variant-background, $negative-variant-border);
		}
	}
	&.loading {
		position: relative;
		color: transparent !important;
		cursor: default;
		pointer-events: none;
		&:after {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: $btn-loader-margin;
			width: $btn-loader-size;
			height: $btn-loader-size;
			border-width: $btn-loader-border;
			border-style: solid;
			content: '';
			animation: button-spin $transition-duration * 3 linear;
			animation-iteration-count: infinite;

			@include border-radius($btn-loader-circle);
			@include button-loading-variant($base-variant-color);
		}
		&.invert:after {
			@include button-loading-variant($invert-variant-color);
		}
		&.primary:after {
			@include button-loading-variant($primary-variant-color);
		}
		&.secondary:after {
			@include button-loading-variant($secondary-variant-color);
		}
		&.positive:after {
			@include button-loading-variant($positive-variant-color);
		}
		&.negative:after {
			@include button-loading-variant($negative-variant-color);
		}
		&.outline:after {
			@include button-loading-variant($base-variant-background);
		}
		&.outline.invert:after {
			@include button-loading-variant($invert-variant-background);
		}
		&.outline.primary:after {
			@include button-loading-variant($primary-variant-background);
		}
		&.outline.secondary:after {
			@include button-loading-variant($secondary-variant-background);
		}
		&.outline.positive:after {
			@include button-loading-variant($positive-variant-background);
		}
		&.outline.negative:after {
			@include button-loading-variant($negative-variant-background);
		}
	}
	&.icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		span {
			margin-left: $btn-spacing-x;
			display: inline-flex;
			width: $btn-icon-size;
			height: $btn-icon-size;			
		}		
	}	
}

.link {
	border: 0;

	@include border-radius($no-border-radius);
	@include link-variant($base-variant-background);
	&.invert {
		@include link-variant($invert-variant-background);
	}
	&.primary {
		@include link-variant($primary-variant-background);
	}
	&.secondary {
		@include link-variant($secondary-variant-background);
	}
	&.positive {
		@include link-variant($positive-variant-background);
	}
	&.negative {
		@include link-variant($negative-variant-background);
	}
}

.close {
	position: relative;
	display: inline-block;
	outline: none;
	border: 0;
	vertical-align: top;
	font-size: $font-size;
	cursor: pointer;

	@include border-radius($border-radius-circle);
	@include close-font-size($btn-close-size, $btn-close-size);
	@include close-variant($base-variant-background, $base-variant-color);
	&.invert {
		@include close-variant($invert-variant-background, $invert-variant-color);
	}
	&.primary {
		@include close-variant($primary-variant-background, $primary-variant-color);
	}
	&.secondary {
		@include close-variant($secondary-variant-background, $secondary-variant-color);
	}
	&.positive {
		@include close-variant($positive-variant-background, $positive-variant-color);
	}
	&.negative {
		@include close-variant($negative-variant-background, $negative-variant-color);
	}
	&:before,
	&:after {
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		content: '';
		transform: $btn-close-transform;
		transform-origin: center center;
	}
	&:before {
		width: 50%;
		height: $btn-close-icon-size;
	}
	&:after {
		width: $btn-close-icon-size;
		height: 50%;
	}
	&.xs {
		@include close-font-size($btn-close-size-xs, $btn-close-size-xs);
	}
	&.sm {
		@include close-font-size($btn-close-size-sm, $btn-close-size-sm);
	}
	&.lg {
		@include close-font-size($btn-close-size-lg, $btn-close-size-lg);
	}
	&.xl {
		@include close-font-size($btn-close-size-xl, $btn-close-size-xl);
	}
}

@keyframes button-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
