#{$button} {
	display: inline-block;
	padding: $button-spacing-y $button-spacing-x;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	text-transform: $button-text-transform;
	font-weight: $button-font-weight;
	font-family: $button-font-family;
	line-height: $button-line-height;
	cursor: pointer;

	-webkit-appearance: none;
	@include button-font-size($button-font-size);
	@include border-radius($button-border-radius);
	@include border(
	$button-border-width,
	$button-border-style,
	$button-variant-border
	);
	@include button-variant(
	$button-variant-color,
	$button-variant-background,
	$button-variant-border,
	$button-variant-hover,
	$button-variant-active
	);
	@include transition($button-transition);
	user-select: none;
	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
	&.xs {
		@include button-font-size($font-size-xs);
	}
	&.sm {
		@include button-font-size($font-size-sm);
	}
	&.lg {
		@include button-font-size($font-size-lg);
	}
	&.xl {
		@include button-font-size($font-size-xl);
	}
	&.full-x {
		display: block;
		width: 100%;
	}
	&.no-border-radius {
		@include border-radius($no-border-radius);
	}
	&.invert {
		@include button-variant(
		$invert-variant-color,
		$invert-variant-background,
		$invert-variant-border,
		$invert-variant-hover,
		$invert-variant-active
		);
	}
	&.primary {
		@include button-variant(
		$primary-variant-color,
		$primary-variant-background,
		$primary-variant-border,
		$primary-variant-hover,
		$primary-variant-active
		);
	}
	&.secondary {
		@include button-variant(
		$secondary-variant-color,
		$secondary-variant-background,
		$secondary-variant-border,
		$secondary-variant-hover,
		$secondary-variant-active
		);
	}
	&.positive {
		@include button-variant(
		$positive-variant-color,
		$positive-variant-background,
		$positive-variant-border,
		$positive-variant-hover,
		$positive-variant-active
		);
	}
	&.negative {
		@include button-variant(
		$negative-variant-color,
		$negative-variant-background,
		$negative-variant-border,
		$negative-variant-hover,
		$negative-variant-active
		);
	}
	&.outline {
		@include button-outline-variant(
		$button-variant-background,
		$button-variant-border
		);
		&.invert {
			@include button-outline-variant(
			$invert-variant-background,
			$invert-variant-border
			);
		}
		&.primary {
			@include button-outline-variant(
			$primary-variant-background,
			$primary-variant-border
			);
		}
		&.secondary {
			@include button-outline-variant(
			$secondary-variant-background,
			$secondary-variant-border
			);
		}
		&.positive {
			@include button-outline-variant(
			$positive-variant-background,
			$positive-variant-border
			);
		}
		&.negative {
			@include button-outline-variant(
			$negative-variant-background,
			$negative-variant-border
			);
		}
	}
	&.inverted {
		@include button-inverted-variant(
		$button-variant-color,
		$button-variant-background,
		$button-variant-border
		);
		&.invert {
			@include button-inverted-variant(
			$invert-variant-color,
			$invert-variant-background,
			$invert-variant-border
			);
		}
		&.primary {
			@include button-inverted-variant(
			$primary-variant-color,
			$primary-variant-background,
			$primary-variant-border
			);
		}
		&.secondary {
			@include button-inverted-variant(
			$secondary-variant-color,
			$secondary-variant-background,
			$secondary-variant-border
			);
		}
		&.positive {
			@include button-inverted-variant(
			$positive-variant-color,
			$positive-variant-background,
			$positive-variant-border
			);
		}
		&.negative {
			@include button-inverted-variant(
			$negative-variant-color,
			$negative-variant-background,
			$negative-variant-border
			);
		}
	}
	&.loading {
		position: relative;
		color: transparent !important;
		cursor: default;
		pointer-events: none;

		@include button-loading-variant(
		$button-variant-color,
		$button-variant-active
		);
		&:after {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: $button-loader-spacing;
			width: $button-loader-size;
			height: $button-loader-size;
			border-width: $button-loader-border;
			border-style: solid;
			content: '';
			animation: button-spin $transition-duration * 3 linear;
			animation-iteration-count: infinite;

			@include border-radius($button-loader-circle);
		}
		&.invert {
			@include button-loading-variant(
			$invert-variant-color,
			$invert-variant-active
			);
		}
		&.primary {
			@include button-loading-variant(
			$primary-variant-color,
			$primary-variant-active
			);
		}
		&.secondary {
			@include button-loading-variant(
			$secondary-variant-color,
			$secondary-variant-active
			);
		}
		&.positive {
			@include button-loading-variant(
			$positive-variant-color,
			$positive-variant-active
			);
		}
		&.negative {
			@include button-loading-variant(
			$negative-variant-color,
			$negative-variant-active
			);
		}
	}
	&.icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		span {
			display: inline-flex;
			margin-left: $button-spacing-x;
		}
	}
}

.link {
	border: 0;

	@include border-radius($no-border-radius);
	@include link-variant($button-variant-background, $button-variant-hover);
	&.invert {
		@include link-variant($invert-variant-background, $invert-variant-hover);
	}
	&.primary {
		@include link-variant($primary-variant-background, $negative-variant-hover);
	}
	&.secondary {
		@include link-variant(
		$secondary-variant-background,
		$secondary-variant-hover
		);
	}
	&.positive {
		@include link-variant(
		$positive-variant-background,
		$positive-variant-hover
		);
	}
	&.negative {
		@include link-variant(
		$negative-variant-background,
		$negative-variant-hover
		);
	}
}

.close {
	position: relative;
	display: inline-block;
	outline: none;
	border: 0;
	vertical-align: top;
	font-size: $font-size;
	cursor: pointer;

	@include border-radius($border-radius-circle);
	@include close-font-size($button-close-size, $button-close-size);
	@include close-variant($button-variant-background, $button-variant-color);
	&.invert {
		@include close-variant($invert-variant-background, $invert-variant-color);
	}
	&.primary {
		@include close-variant($primary-variant-background, $primary-variant-color);
	}
	&.secondary {
		@include close-variant(
		$secondary-variant-background,
		$secondary-variant-color
		);
	}
	&.positive {
		@include close-variant(
		$positive-variant-background,
		$positive-variant-color
		);
	}
	&.negative {
		@include close-variant(
		$negative-variant-background,
		$negative-variant-color
		);
	}
	&:before,
	&:after {
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		content: '';
		transform: $button-close-transform;
		transform-origin: center center;
	}
	&:before {
		width: 50%;
		height: $button-close-icon-size;
	}
	&:after {
		width: $button-close-icon-size;
		height: 50%;
	}
	&.xs {
		@include close-font-size($button-close-size-xs, $button-close-size-xs);
	}
	&.sm {
		@include close-font-size($button-close-size-sm, $button-close-size-sm);
	}
	&.lg {
		@include close-font-size($button-close-size-lg, $button-close-size-lg);
	}
	&.xl {
		@include close-font-size($button-close-size-xl, $button-close-size-xl);
	}
}

@keyframes button-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
