.bb-breadcrumb {
  padding: $breadcrumb-spacing-y $breadcrumb-spacing-x;
  margin-bottom: $breadcrumb-spacing-y;
  list-style: none;
  background-color: $breadcrumb-background;
  @include border-radius($border-radius);
  @include clearfix;
  .breadcrumb-item {
    float: left;
    +.breadcrumb-item::before {
      display: inline-block;
      padding-right: $breadcrumb-item-padding;
      padding-left: $breadcrumb-item-padding;
      color: $breadcrumb-divider-color;
      content: "#{$breadcrumb-divider}";
    }
    &.active {
      color: $breadcrumb-active-color;
    }
    &.xs {
      @include breadcrumb-size($font-size-xs)
    }
    &.sm {
      @include breadcrumb-size($font-size-sm)
    }
    &.lg {
      @include breadcrumb-size($font-size-lg)
    }
    &.xl {
      @include breadcrumb-size($font-size-xl)
    } 
  }
}