.bb-breadcrumb {
	margin-bottom: $breadcrumb-spacing;
	padding: 0;
	ul {
		background: $breadcrumb-background;
		list-style: none;

		@include clearfix;
		@include border-radius($border-radius);
		.breadcrumb-item {
			float: left;
			 + .breadcrumb-item::before {
				display: inline-block;
				padding-right: $breadcrumb-item-spacing;
				padding-left: $breadcrumb-item-spacing;
				color: $breadcrumb-divider-color;
				content: '#{$breadcrumb-divider}';
			}
			&.active {
				color: $breadcrumb-active-color;
			}
			&.xs {
				@include breadcrumb-font-size($font-size-xs);
			}
			&.sm {
				@include breadcrumb-font-size($font-size-sm);
			}
			&.lg {
				@include breadcrumb-font-size($font-size-lg);
			}
			&.xl {
				@include breadcrumb-font-size($font-size-xl);
			}
			a {
				color: $breadcrumb-link-color;
			}
		}
	}
	&.scroll {
		overflow: hidden;
		overflow-x: scroll;
		width: 100%;
		white-space: nowrap;
		ul {
			margin-bottom: 0;
			padding-left: 0;
		}
		.breadcrumb-item {
			display: inline;
			float: none;
		}
	}
}
