.bb-stat {
	display: inline-flex;
	flex-direction: column;
	.value {
		text-align: center;
		text-transform: $stat-text-transform;
		font-weight: $stat-value-font-weight;
		font-size: $stat-font-size;
		font-family: $stat-value-font-family;
		line-height: $stat-line-height;
		&.text {
			min-height: 2rem;
			text-align: center;
			font-weight: $stat-text-font-weight;
			font-size: $stat-font-size/2;
			line-height: $stat-line-height;
		}
	}
	.label {
		text-align: center;
		text-transform: $stat-text-transform;
		font-weight: $stat-label-font-weight;
		font-size: $stat-font-size/4;
		font-family: $stat-label-font-family;
	}
	&.horizontal {
		align-items: center;
		flex-direction: row;
		margin: 1rem 0;
		:last-child {
			margin-left: $stat-spacing/1.5;
		}
	}
	&.primary {
		@include stat-variant($primary-variant-background);
	}
	&.secondary {
		@include stat-variant($secondary-variant-background);
	}
	&.positive {
		@include stat-variant($positive-variant-background);
	}
	&.negative {
		@include stat-variant($negative-variant-background);
	}
	&.xs {
		@include stat-font-size($stat-font-size-xs);
	}
	&.sm {
		@include stat-font-size($stat-font-size-sm);
	}
	&.lg {
		@include stat-font-size($stat-font-size-lg);
	}
	&.xl {
		@include stat-font-size($stat-font-size-xl);
	}
}
